//  .background{
//    background-image: url(/../../assets/BG-Iconic_final/registrieren-top@1x.png);
//    //height: 217px;
//    height: 36%;
//    width: 100%;
//    background-size: 100% auto;
//    top: 0;
//    align-items: baseline;
//    max-width: auto;
//    position: absolute;
//    left: 0px;
//  }
.background{
  background-image: url(/../../assets/BG-Iconic_final/registrieren-top@1x.png);
  //height: 217px;
  height: 37%;
  width: 100%;
  background-size: 100% auto;
  top: 0;
 
  max-width: auto;
  position: absolute;
  left: 0px;
  font-family:"WorkSans-Medium";
  background-repeat: no-repeat;
}
// .footerbg{
//   margin-left: 0px !important;
//   background-image: url(../../../assets/bg-bottom.svg);
//   //height: 22%;
//   height: 35%;
//   width: 100%;
//  // background-size: 334% 175%;
//   bottom: 0;
//   align-items: baseline;
//   max-width: auto;
//   left: 0px;

//   background-position-x: 50%;
//   background-position-y: 42%;
//   position: relative;
// text-align: center;
// display: flex;
//   justify-content: center;
//   align-items: center;
//   flex-direction: column;
//   background-repeat: no-repeat;
//   background-size: cover;
// .row1{
//   width: 193px;
//   color: white;font-size: 13px;
//   padding-top: 40%;
  
// }

// .row2{

//   color: white;
//   font-size: 13px;
//   display: flex;
//   justify-content: center;
//   text-decoration: underline;
//   padding-top: 2%;

// }
// }
//  @media only screen and (max-height: 600px) {
//   .background{
//     background-image: url(/../../assets/BG-Iconic_final/registrieren-top@1x.png);
//     //height: 217px;
//     height: 37%;
//     width: 100%;
//     background-size: 100% auto;
//     top: 0;
//     align-items: baseline;
//     max-width: auto;
//     position: absolute;
//     left: 0px;
//   }
//   .footerbg{
//     margin-left: 0px !important;
//     background-image: url(../../../assets/bg-bottom.svg);
//     //height: 22%;
//     height: 42%;
//     width: 100%;
//    // background-size: 334% 175%;
//     bottom: 0;
//     align-items: baseline;
//     max-width: auto;
//     left: 0px;
  
//     background-position-x: 50%;
//     background-position-y: 42%;
//     position: relative;
//   text-align: center;
//   display: flex;
//     justify-content: center;
//     align-items: center;
//     flex-direction: column;
//   .row1{
//     width: 193px;
//     color: white;font-size: 13px;
//     padding-top: 34%;
//   }

//   .row2{

//     color: white;
//     font-size: 13px;
//     display: flex;
//     justify-content: center;
//     text-decoration: underline;
//     padding-top: 2%;

//   }
// }
// }

// @media all and (min-height: 568px)
// {
//  .background{
//    background-image: url(/../../assets/BG-Iconic_final/registrieren-top@1x.png);
//    //height: 217px;
//    height: 36%;
//    width: 100%;
//    background-size: 100% auto;
//    top: 0;
//    align-items: baseline;
//    max-width: auto;
//    position: absolute;
//    left: 0px;
//  }
// }


// @media all and (min-height: 640px)
//  {
//   .background{
//     background-image: url(/../../assets/BG-Iconic_final/registrieren-top@1x.png);
//     height: 244px;
//     width: 100%;
//     background-size: 100% auto;
//     top: 0;
//     align-items: baseline;
//     max-width: auto;
//     position: absolute;
//     left: 0px;
//   }
// }

// @media all and (min-height: 736px)
//  {
//   .background{
//     background-image: url(/../../assets/BG-Iconic_final/registrieren-top@1x.png);
//     height: 280px;
//     width: 100%;
//     background-size: 100% auto;
//     top: 0;
//     align-items: baseline;
//     max-width: auto;
//     position: absolute;
//     left: 0px;
//   }
// }

// @media all and (min-height: 812px)
//  {
//   .background{
//     background-image: url(/../../assets/BG-Iconic_final/registrieren-top@1x.png);
//     height: 253px;
//     width: 100%;
//     background-size: 100% auto;
//     top: 0;
//     align-items: baseline;
//     max-width: auto;
//     position: absolute;
//     left: 0px;
//   }
// }

// @media all and (min-height: 854px)
//  {
//   .background{
//     background-image: url(/../../assets/BG-Iconic_final/registrieren-top@1x.png);
//     width: 100%;
//     background-size: 100% auto;
//     top: 0;
//     height: 325px;
//     align-items: baseline;
   
//     position: absolute;
//     left: 0px;
//   }
// }

.footerbg{
  margin-left: 0px !important;
  background-image: url(../../../assets/messeauswah-bottom@1x.png);
  //height: 22%;
  height: 15%;
  width: 100%;
 // background-size: 334% 175%;
  bottom: 0;
  align-items: baseline;
  max-width: auto;
  left: 0px;

  background-position-x: 50%;
  background-position-y: 42%;
  position: relative;
text-align: center;
display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-repeat: no-repeat;
  background-size: cover;
}

.row{
  margin-top: 5%;
  justify-content: center;
}

.text1{
  font-family: WorkSans-Medium;
  font-size: 16px;
  color: #112142;
}
.text2{
  font-family: WorkSans-Medium;
  font-size: 16px;
  color: #007072;
  margin-left: 2%;
}


.centered {
    position: absolute;
    top: 62%;
    left: 41%;
    transform: translate(-50%, -50%);
  }


 





.background .headerSheet {
    padding-top: 20%;
    padding-left: 15%;
    width: 100%;
    height: auto;
}

.background .header {
    font-size: 18px !important;
    color: #f5f5f5;
    // text-align: bottom left;
    // padding-left: 8%;

}

// div {
//     text-align: left;
//     margin-left: 10%;
//     margin-right: 10%;
// }

ion-button {
    // --border-width: medium;
    --ion-color-primary: #907F63;
    text-align: center;
    width: 80%;
    font-size:16px !important;
    height: 45px;
    letter-spacing: 3px;
    font-family: 'WorkSans-Medium';
}
.button ion-button {
 
  height: 50px;

 
  letter-spacing: 3px;
  
}

ion-content {
    background-color: #f5f5f5;
    font-family: Arial, Helvetica, sans-serif;
}

#form1 {
    color: #112142;
}

ion-label{
  font-family: 'WorkSans-Regular';
}

#form1 ion-label {
    text-align: left;
    font-size: 13px;
    font-family: 'WorkSans-Regular';

}

#form1 ion-input {
    --ion-primary-color: #112142;
    border: thin;
}

#formBox {
    --ion-color-primary: #112142;
    border-bottom: 1px solid #112142;

}



// @media all and (min-height: 854px)
// {
//   .footerbg{
//     margin-left: 0px !important;
//     background-image: url(../../../assets/footersignup.png);
//     //height: 22%;
//     height: 26%;
//     width: 100%;
//     background-size: 334% 175%;
//     bottom: 0;
//     align-items: baseline;
//     max-width: auto;
//     left: 0px;
  
//     background-position-x: 50%;
//     background-position-y: 277px;
//     position: relative;
//   text-align: center;
//   .row1{
//     width: 193px;
//     color: white;font-size: 13px;
//   }

//   .row2{

//     color: white;
//     font-size: 13px;
//     display: flex;
//     justify-content: center;
//     text-decoration: underline;

//   }
// }
//  }
//    .footerbg{
//     .extend{
//       margin-left: 0px !important;
//       background-image: url(../../../assets/footersignup.png);
//       height: 22%;
//       width: 100%;
//       background-size: 334% 175%;
//       bottom: 0;
//       align-items: baseline;
//       max-width: auto;
//       left: 0px;
    
//       background-position-x: 50%;
//       background-position-y: 320px;
//       position: relative;
//     text-align: center;
//     .row1{
//       width: 193px;
//       color: white;font-size: 13px;
//     }
  
//     .row2{
  
//       color: white;
//       font-size: 13px;
//       display: flex;
//       justify-content: center;
//       text-decoration: underline;
  
//     }
//     }
   
// }

//  @media all and (min-height: 736px)
// {
//   .footerbg{
//     .extend{
//       margin-left: 0px !important;
//       background-image: url(../../../assets/footersignup.png);
//       height: 22%;
//       width: 100%;
//       background-size: 334% 175%;
//       bottom: 0;
//       align-items: baseline;
//       max-width: auto;
//       left: 0px;
    
//       background-position-x: 50%;
//       background-position-y: 320px;
//       position: relative;
//     text-align: center;
//     .row1{
//       width: 193px;
//       color: white;font-size: 13px;
//     }
  
//     .row2{
  
//       color: white;
//       font-size: 13px;
//       display: flex;
//       justify-content: center;
//       text-decoration: underline;
  
//     }
//     }
   
// }
//  }



// @media all and (min-height: 640px)
//  {
//   .footerbg{
//     margin-left: 0px !important;
//     background-image: url(../../../assets/footersignup.png);
//     height: 26%;
//     width: 100%;
//     background-size: 334% 175%;
//     bottom: 0;
//     align-items: baseline;
//     max-width: auto;
//     left: 0px;
  
//     background-position-x: 53%;
//     background-position-y: 275px;
//     position: relative;
//     text-align: center;
//   .row1{
//     width: 193px;
//     color: white;font-size: 13px;
//   }

//   .row2{

//     color: white;
//     font-size: 13px;
//     display: flex;
//     justify-content: center;
//     text-decoration: underline;

//   }
 
// }
//  }




// @media all and (min-height: 812px)
//  {
//   .footerbg{
//     margin-left: 0px !important;
//     background-image: url(../../../assets/footersignup.png);
//     height: 24%;
//     width: 100%;
//     background-size: 334% 175%;
//     bottom: 0;
//     align-items: baseline;
//     max-width: auto;
//     left: 0px;
  
//     background-position-x: 50%;
//     background-position-y: 277px;
//     position: relative;
//   text-align: center;
//   .row1{
//     width: 193px;
//     color: white;font-size: 13px;
//   }

//   .row2{

//     color: white;
//     font-size: 13px;
//     display: flex;
//     justify-content: center;
//     text-decoration: underline;

//   }
// }
//  }




 
   



