<ion-content [fullscreen]="true">
 
 <div style="padding: 10%;">
    <ion-row class="background">
      <ion-col style="text-align: center" size="5">
        <div  style="padding-top: 20%;">
          <img  style="width: 65%;" src="/../../assets/BG-Iconic_final/messe_book_logo.png">
        </div>
      </ion-col>
      <ion-col size="7">
        <div class="header" style="">
        <p style="padding-top: 27%;">Registrieren</p>
        </div>
      </ion-col>
    </ion-row>
    <ion-row style="margin-top: 70%;">
      <ion-col>
        <div id="formBox">
          <ion-form method="get" id="form1">
            <ion-label for="company" position="fixed">FIRMA</ion-label>
            <ion-input id="company"></ion-input>
          </ion-form>
        </div>
      </ion-col> 
    </ion-row>
    <ion-row style="margin-top: 4px;">
      <ion-col>
        <div id="formBox">
          <ion-form method="get" id="form1">
            <ion-label for="firstName" position="fixed">VORNAME</ion-label>
            <ion-input id="firstName"></ion-input>
          </ion-form>
        </div>
      </ion-col>
    </ion-row>
    <ion-row style="margin-top: 4px;">
      <ion-col>
        <div id="formBox">
          <ion-form method="get" id="form1">
            <ion-label for="surname" position="fixed">NACHNAME</ion-label>
            <ion-input id="surname"></ion-input>
          </ion-form>
        </div>
      </ion-col>
    </ion-row>
    <ion-row style="margin-top: 4px;">
      <ion-col>
        <div id="formBox">
          <ion-form method="get" id="form1">
            <ion-label for="e-mail" position="fixed">E-MAIL</ion-label>
            <ion-input id="e-mail"></ion-input>
          </ion-form>
        </div>
      </ion-col>
    </ion-row>
    <ion-row style="margin-top: 4px;">
      <ion-col>
        <div id="formBox">
          <ion-form method="get" id="form1">
            <ion-label for="password" position="fixed">PASSWORT</ion-label>
            <ion-input id="password"></ion-input>
          </ion-form>
        </div>
      </ion-col>
    </ion-row>
    <ion-row style="margin-top: 4px;">
      <ion-col>
        <div id="formBox">
          <ion-form method="get" id="form1">
            <ion-label for="corPass" position="fixed">PASSWORT WIEDERHOLEN</ion-label>
            <ion-input id="corPass"></ion-input>
          </ion-form>
        </div>
      </ion-col>
    </ion-row> 
    <ion-row style="margin-top: 17%;">
      <ion-col>
        <div style="text-align: center;font-size:16px;">
          <ion-button (click)="goNext()" type="submit" form="form1" value ="submit" shape="round" fill="outline" style="--border-width: 2px;">REGISTRIEREN</ion-button>
        </div>
      </ion-col>
    </ion-row>
    
</div>
    <ion-row class="row">
      <ion-text class="text1">Haben Sie schon einen Account?</ion-text>
      <ion-text class="text2" (click)="go3()">Hier Einloggen</ion-text>
    </ion-row>

    <div class="footerbg">
  
    </div>
   

    <!-- <div class="footerbg">
    
          <div class="centered" style="text-align: center;">
            <ion-row class="row1">Haben Sie schon einen Account?</ion-row>
            <ion-row class="row2" (click)="go3()">Hier einloggen</ion-row>
          </div>
       
    </div> -->
  <!-- </div>

    <div class="footerbg">
 
      <ion-row class="row1">Haben Sie schon einen Account?</ion-row>
      <ion-row class="row2" (click)="go3()">Hier einloggen</ion-row>
  
  </div> -->

</ion-content>

<!-- 
<div class="footerbg">
 
    <ion-row class="row1">Haben Sie schon einen Account?</ion-row>
    <ion-row class="row2" (click)="go3()">Hier einloggen</ion-row>

</div> -->
