<ion-content [fullscreen]="true">
  
  
    <ion-row style="margin-top: 10px;" class="background">
<ion-col size="2" style="padding: 18px;">
       <img src="../../../assets/notizenlefticon.svg">
           
         
      </ion-col>
      <ion-col style="position: relative; top: 4px" size="8">
        <div style="width: 100%; text-align: left;color: white;">
          <p>Notizen</p>
        </div>
      </ion-col>
      <ion-col size="2" style="padding: 18px;">
        <img src="../../../assets/notizenrighticon.svg">
      </ion-col>
    </ion-row>
    <ion-row style="margin-top: 40%;">
     
          <ion-input placeholder="Suche"></ion-input>
       
    </ion-row>  
    <ion-row style="">
      <ion-col>
        <div class="listenansicht">
          <ion-button style="float: left;">
            <ion-icon slot="icon-only" name="list-circle-outline"></ion-icon>
          </ion-button>
          <p style="float: left;">LISTENANSICHT</p>
        </div>
      </ion-col>
    </ion-row>
    <ion-row style="padding: 15px;display: flex; align-items: center;">
      <ion-col size="6">
        <ion-text style="font-size: 23px;color: #112142;">
          Notizen
        </ion-text>
      </ion-col>
      <ion-col size="1.5">
        <img src="../../assets/images/camicon.svg">
      </ion-col>
      <ion-col size="1.5"> 
        <img src="../../assets/images/cameraicon.svg">
      </ion-col>
      <ion-col size="1.5">
        <img src="../../assets/images/editfullicon.svg">
      </ion-col>
      <ion-col size="1.5">
        <img src="../../assets/images/lasticon.svg">
      </ion-col>
    </ion-row>
    <ion-row style="margin-top: 1%;">
      <ion-col size="6">
        <ion-row style="margin-top: 5%;">
          <div>
            <ion-row class="articleBox">
              <ion-col size="3">
                <img src="/../../assets/Icon feather-edit-3.png">
              </ion-col>
              <ion-col size="9">
                <p>Titel...</p>
              </ion-col>
            </ion-row>
            <ion-row>
              <div class="textBox">
                <ion-text>
                  Lorem ipsum dolor sit
                  amet, consetetur 
                  sadipscing elitr, sed diam
                  nonumy eirmod tempor 
                  invidunt ut labore et
                  dolore magna aliquyam
                </ion-text>
              </div>
            </ion-row>
          </div>
        </ion-row>
        <ion-row style="margin-top: 5%;">
          <div>
            <ion-row class="articleBox">
              <ion-col size="3">
                <img src="/../../assets/Icon feather-camera.png">
              </ion-col>
              <ion-col size="9">
                <p>Titel...</p>
              </ion-col>
            </ion-row>
            <ion-row>
              <div class="pictureBox">
                <img src="/../../assets/images2/specaunt.svg">
              </div>
            </ion-row>
          </div>
        </ion-row>
        <ion-row style="margin-top: 5%;">
          <div>
            <ion-row class="articleBox">
              <ion-col size="3">
                <img src="/../../assets/Icon feather-edit-3.png">
              </ion-col>
              <ion-col size="9">
                <p>Titel...</p>
              </ion-col>
            </ion-row>
            <ion-row>
              <div class="textBox">
                <ion-text>
                  Lorem ipsum dolor sit
                  amet, consetetur 
                  sadipscing elitr, sed diam
                  nonumy eirmod tempor 
                </ion-text>
              </div>
            </ion-row>
          </div>
        </ion-row>
        <ion-row style="margin-top: 5%;">
          <div>
            <div class="titleBox">
              <ion-row>
                <ion-col size="12">
                  <img src="/../../assets/pinnwand_audio.png"> 
                </ion-col>
              </ion-row>
            </div>
          </ion-col>
        </ion-row>
        <ion-row style="margin-top: 5%;">
          <div>
            <ion-row class="articleBox">
              <ion-col size="3">
                <img src="/../../assets/Icon feather-camera.png">
              </ion-col>
              <ion-col size="9">
                <p>Titel...</p>
              </ion-col>
            </ion-row>
            <ion-row>
              <div class="pictureBox">
                <img src="/../../assets/images2/specaunt.svg">
              </div>
            </ion-row>
          </div>
        </ion-row>
        <ion-row style="margin-top: 5%;">
          <ion-col>
            <div class="titleBox">
              <ion-row>
                <ion-col size="12">
                  <img src="/../../assets/pinnwand_audio.png"> 
                </ion-col>
              </ion-row>
            </div>
          </ion-col>
        </ion-row>
      </ion-col>
      <ion-col size="6">
        <ion-row style="margin-top: 5%;">
          <ion-col>
            <div class="titleBox">
              <ion-row>
                <ion-col size="12">
                  <img src="/../../assets/pinnwand_audio.png"> 
                </ion-col>
              </ion-row>
            </div>
          </ion-col>
        </ion-row>
        <ion-row style="margin-top: 5%;">
          <div>
            <ion-row class="articleBox">
              <ion-col size="3">
                <img src="/../../assets/Icon feather-edit-3.png">
              </ion-col>
              <ion-col size="9">
                <p>Titel...</p>
              </ion-col>
            </ion-row>
            <ion-row>
              <div class="textBox">
                <ion-text>
                  Lorem ipsum dolor sit
                  amet, consetetur 
                  sadipscing elitr, sed diam
                  nonumy eirmod tempor 
                  invidunt ut labore et
                  dolore magna aliquyam
                </ion-text>
              </div>
            </ion-row>
          </div>
        </ion-row>
        <ion-row style="margin-top: 5%;">
          <div>
            <ion-row class="articleBox">
              <ion-col size="3">
                <img src="/../../assets/Icon feather-camera.png">
              </ion-col>
              <ion-col size="9">
                <p>Titel...</p>
              </ion-col>
            </ion-row>
            <ion-row>
              <div class="pictureBox">
                <img src="/../../assets/images2/specaunt.svg">
              </div>
            </ion-row>
          </div>
        </ion-row>
        <ion-row style="margin-top: 5%;">
          <ion-col>
            <div class="titleBox">
              <ion-row>
                <ion-col size="12">
                  <img src="/../../assets/pinnwand_audio.png"> 
                </ion-col>
              </ion-row>
            </div>
          </ion-col>
        </ion-row>
        <ion-row style="margin-top: 5%;">
          <ion-col>
            <div class="titleBox">
              <ion-row>
                <ion-col size="12">
                  <img src="/../../assets/pinnwand_audio.png"> 
                </ion-col>
              </ion-row>
            </div>
          </ion-col>
        </ion-row>
        <ion-row style="margin-top: 5%;">
          <div>
            <ion-row class="articleBox">
              <ion-col size="3">
                <img src="/../../assets/Icon feather-camera.png">
              </ion-col>
              <ion-col size="9">
                <p>Titel...</p>
              </ion-col>
            </ion-row>
            <ion-row>
              <div class="pictureBox">
                <img src="/../../assets/images2/specaunt.svg">
              </div>
            </ion-row>
          </div>
        </ion-row>
        <ion-row style="margin-top: 5%;">
          <div>
            <ion-row class="articleBox">
              <ion-col size="3">
                <img src="/../../assets/Icon feather-edit-3.png">
              </ion-col>
              <ion-col size="9">
                <p>Titel...</p>
              </ion-col>
            </ion-row>
            <ion-row>
              <div class="textBox">
                <ion-text>
                  Lorem ipsum dolor sit
                  amet, consetetur 
                  sadipscing elitr, sed diam
                  nonumy eirmod tempor 
                </ion-text>
              </div>
            </ion-row>
          </div>
        </ion-row>
      </ion-col>
    </ion-row>
 
</ion-content>
