ion-content{
    letter-spacing: 2px;
    --ion-background-color:#F5F5F5;
}

.aktuDiv{
    padding: 20px;
    background-color: white;
    border: 2px solid transparent;
    border-top-left-radius: 35px;
    border-bottom-right-radius: 35px;
    box-shadow: 0px -6px #1121420f;
}

.round{
    height: 55px;
    border: 1px solid #D1C5B0;
    border-radius: 30px;
}

ion-button{
    color: #907F63;
    letter-spacing: 3px;
    height: 45px !important;
    --border-color:#907F63;
}
.background{
  background-image: url(/../../assets/BG-Iconic_final/messeauswahl-top@1x.png);
 // height: 20%;
  width: 100%;
  font-family:"WorkSans-Medium";
  z-index: 10;
  position: absolute;
  height: 25%;
  background-repeat: no-repeat;
  background-size: cover;
}

// @media all and (min-height: 640px)
//  {
//   .background{
//     background-image: url(/../../assets/BG-Iconic_final/messeauswahl-top@1x.png);
//     height: 25%;
//     width: 100%;
//     background-size: 100% auto;
//     z-index: 10;
//     position: absolute;
//   }
// }

// @media all and (min-height: 854px)
//  {
//   .background{
//     background-image: url(/../../assets/BG-Iconic_final/messeauswahl-top@1x.png);
//     height: 25%;
//     width: 100%;
//     background-size: 100% auto;
//     z-index: 10;
//     position: absolute;
//   }
// }

// @media all and (min-height: 812px)
//  {
//   .background{
//     background-image: url(/../../assets/BG-Iconic_final/messeauswahl-top@1x.png);
//     height: 25%;
//     width: 100%;
//     background-size: 100% auto;
//     z-index: 10;
//     position: absolute;
//   }
// }

.firstDiv{
  margin-top: 40%;
  height: 12%;
  padding-left: 7%;
}

// @media all and (min-height: 854px)
//  {
//   .firstDiv{
//     margin-top: 40%;

//   }
// }

// @media all and (min-height: 736px)
//  {
//   .firstDiv{
//     margin-top: 40%;
//   }
// }



// @media all and (min-height: 812px)
//  {
//   .firstDiv{
//     display: flex;
//     padding: 20px;

//   }
// }

// @media all and (min-height: 640px)
//  {
//   .firstDiv{
//     display: flex;
//     padding: 20px;
  
//   }
// }

// @media all and (min-height: 812px)
//  {
//   .headCol{
//    top: 25%;
//   }
// }

// @media all and (min-height: 640px)
//  {
//   .headCol{
  
//     top: 25%;
//   }
// }








// .footerbg {
//     margin-left: 0px !important;
//     background-image: url(../../../assets/bottomexhibitions.svg);
//     height: 186px;
//     width: 100%;
//     background-size: 334% 175%;
//     bottom: 0;
//     align-items: baseline;
//     max-width: auto;
//     left: 0px;
//     background-position-x: 50;
//     background-position-x: 60%;
//     background-position-y: 300px;
//     position: relative;
//     text-align: center;
// }
.footerbg{
  margin-left: 0px !important;
  background-image: url(../../../assets/messeauswah-bottom@1x.png);
  //height: 22%;
  height: 15%;
  width: 100%;
 // background-size: 334% 175%;
  bottom: 0;
  align-items: baseline;
  max-width: auto;
  left: 0px;

  background-position-x: 50%;
  background-position-y: 42%;
  position: relative;
text-align: center;
display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-repeat: no-repeat;
  background-size: cover;
}




.background .header {
    font-size: 18px;
    color: white;
    position: relative;
    left: 0px;
  
}

.background .logo {
    width: 75%;
    height: 75%;
    bottom: 0px;
    margin-top: 10%;
    margin-left: 10%;
    position: relative;
}