
<ion-content>

  <ion-row class="background" style="padding: 5%;">
    <ion-col size="3">
      <div class="logo">
        <img src="/../../assets/BG-Iconic_final/messe_book_logo.png">
      </div>
    </ion-col>
    <ion-col size="9" class="headCol" style="top: 15%;">
    
        <ion-text style="font-size: 18px;color: #FFFFFF;">Messeauswahl</ion-text>
    
    </ion-col>
  </ion-row>
 
 
  <div class="firstDiv">
    <ion-row>

    
    <ion-col size='10'>
      <ion-text style="font-size: 15px;color: #444D4D;">
        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed.
      </ion-text>
    </ion-col>
    <ion-col size='2'>
      <img src="../../assets/images/infoicon.svg">
    </ion-col>
  </ion-row>
    
  </div>

  <div *ngFor="let item of array let i=index">
    <div *ngIf="!item.isSelected" (click)="select(i)">
      <ion-row  
      style="border-bottom: 1px solid lightgray;
    /* border-top-left-radius: 35px; */
    border-bottom-right-radius: 35px;
    /* margin-top: 15px; */
    /* margin-bottom: 15px; */
    padding-top: 15px;
    padding-bottom: 15px;">
  <ion-text style="font-size: 23px;color: #112142;padding: 5px;
  margin-left: 20px;">{{item.title}}</ion-text>
    </ion-row>
    </div>
  
    <div *ngIf="item.isSelected" class="aktuDiv" (click)="select(i)">
      <div >
        <ion-row style="font-size: 23px;color: #112142;">
          {{item.title}}
        </ion-row>
        
        <ion-row style="margin-top: 15px;
        height: 55px;">
        <ion-col size="11">
          <div class="round">
            <ion-col size="2" style="top: 11px;">
              <img src="../../assets/images/redicon.svg">
                </ion-col>
                <ion-col size="10" style="font-size: 14px;color: #444D4D;padding-top: 0px;
                height: 114px;">
                  {{item.text1}}
                </ion-col>
          </div>
        </ion-col>
        
         <ion-col size="1" style="display: flex;
         justify-content: flex-end;">
           <img src="../../assets/images/tick.svg">
         </ion-col>
          
        </ion-row>
        
        <ion-row style="margin-top: 15px;
        display: flex;
        align-items: center;">
          <ion-col size="3">
            <img src="../../assets/images/second.svg">
        
          </ion-col>
          <ion-col size="9" style="font-size: 15px;color: #444D4D;">
            {{item.text2}}
          </ion-col>
          
        </ion-row>
        
        <ion-row style="margin-top: 15px;
        display: flex;
        align-items: center;">
          <ion-col size="3">
            <img src="../../assets/images/third.svg">
          </ion-col>
          <ion-col size="9" style="font-size: 15px;color: #444D4D;">
            {{item.text3}}
          </ion-col>
          
        </ion-row>
      </div>
    </div>
  </div>
 

  <!-- <ion-row style="border-bottom: 1px solid lightgray;
  /* border-top-left-radius: 35px; */
  border-bottom-right-radius: 35px;
  /* margin-top: 15px; */
  /* margin-bottom: 15px; */
  padding-top: 15px;
  padding-bottom: 15px;">
<ion-text style="font-size: 23px;color: #112142;padding: 5px;
margin-left: 20px;">Zukunft</ion-text>
  </ion-row>

  <ion-row style="border-bottom: 1px solid lightgray;
  /* border-top-left-radius: 35px; */
  border-bottom-right-radius: 35px;
  /* margin-top: 15px; */
  /* margin-bottom: 15px; */
  padding-top: 15px;
  padding-bottom: 15px;"> 
    <ion-text style="font-size: 23px;color: #112142;padding: 5px;
    margin-left: 20px;">Vergangenheit</ion-text>
  </ion-row> -->

  <ion-row style="margin-top: 7%;
  display: flex;
  justify-content: center;">
    <ion-button (click)="nextPage()" style="width: 60%;height: 53px;--border-width: 2px;
    font-size: 16px;" fill="outline" shape="round">
      WEITER
      <ion-icon slot="end" name="arrow-forward-outline"></ion-icon>
    </ion-button>
    
  </ion-row>

  <div class="footerbg">
      
   
  
  </div>
  
</ion-content>
