<ion-content>
  

    <ion-row class="background">
      <ion-col style="display: flex;
      flex-direction: column;
      align-items: center;top: 18px;" size="1.5" >
      
          <img src="../../../assets/recordingHeaderright.svg">
          
         
      </ion-col>
      <ion-col size="9" style="display: flex;
      flex-direction: column;
      align-items: flex-start;top: 15px;">
      
          <ion-text (click)="go()" style="font-size: 18px;color: white;margin-top: 5px;
          font-family: WorkSans-Medium;">Audionotiz hinzufügen</ion-text>
      
      </ion-col>

      <ion-col class="rightCol" style="display: flex;
      flex-direction: column;
      align-items: center;top: 18px;" size="1.5">
       <ion-icon name="checkmark-outline" size="large" color="light"></ion-icon>
      </ion-col>



    </ion-row>
    <ion-row style="margin-top: 40%;padding: 16px;">
      <ion-col>
        <div class="input">
          <ion-label position="stacked">TITEL</ion-label>
          <!-- <ion-input style="--placeholder-color: #D1C5B0;" placeholder="Titel eingeben"></ion-input> -->
          <ion-input style="--placeholder-color: #D1C5B0;" class="ion-input" [(ngModel)]="title" placeholder="Titel eingeben"></ion-input>

        </div>
      </ion-col>
    </ion-row>
    <ion-row style="padding: 16px;">
      <ion-col>
        <div class="label">
          <p class="record">IHRE AUFNAHME</p>
        </div>
      </ion-col>
    </ion-row>
    <ion-row style="">
      <ion-col>
        <div class="audio" (click)="startRecording()" *ngIf="!recording && !recorded">
          <img src="../../../assets/Gruppe 121@2x.png">
        </div>

        <div class="audio" (click)="startRecording()" *ngIf="recording && !recorded">
          <img src="../../../assets/recordingaudio.svg">
        </div>

        <div class="audio" (click)="startRecording()" *ngIf="!recording && recorded">
          <img src="../../../assets/recordedaudio.svg">
        </div>
      </ion-col>
    </ion-row>
    <ion-row style="margin-top: 12%;">
      <ion-col style="text-align: center;">
        <div class="button">
          <ion-button [disabled]="!recording && !recorded" (click)="go()"  class="submit" shape="round" fill="outline">
          SPEICHERN
          <img style="margin-left: 12%;" src="../../../assets/anfragenarrow.png">
          </ion-button>
        </div>
      </ion-col>
    </ion-row>
    <ion-row style="margin-bottom: 50px;justify-content: center;">
     
          <ion-text style="font-size: 13px;color: #444D4D;font-family: WorkSans-Regular;" (click)="return()">ABBRECHEN</ion-text>
      
    </ion-row>
 
</ion-content>
