<ion-content>
 
  <ion-row class="background">
    <ion-col style="text-align: center" size="3">
      <div class="headerSheet" style="margin-top: 5%;">
        <img class="img1" src="/../../assets/BG-Iconic_final/messe_book_logo.png">
      </div>
    </ion-col>
    <ion-col size="9">
      <div style="position: relative; top: -5px;">
      <p class="header">Messebücher</p>
      </div>
    </ion-col>
  </ion-row>
  <ion-row class="row">
    <div class="div">
      <ion-input placeholder="Suche…" type="text" class="text"></ion-input>
      <ion-icon class="icon" name="search-outline"></ion-icon>
    </div>
  </ion-row>

  <ion-row class="row1">

    <div class="div2">
      <ion-text class="ionText">Bestehende Messebücher (3)</ion-text>

      <img src="../../assets/Icon ionic-ios-arrow-round-forward.svg">
    </div>

  </ion-row>

  <ion-row class="row1">

      <div class="div2">
      <ion-text class="ionText">Freigegebene Messebücher (2)</ion-text>

      <img  src="../../assets/Icon ionic-ios-arrow-round-forward.svg">
 
  </div>
  </ion-row>
  
  <ion-row class="row2">
    <div class="div2">
    <ion-text class="text1">Messebücher</ion-text>
  </div>
  </ion-row>

  <ion-row class="row4">
    <div class="div2">

      <ion-text class="ionText">Mein Messebuch (3)</ion-text>

      <img  src="../../assets/Icon ionic-ios-arrow-round-forward.svg">
    </div>

  </ion-row>

  <ion-row class="row3" (click)="neues()">
    <div class="div1">
      <img class="img" src="../../assets/images2/icon_note.svg">
      <ion-text>Neues Messebuch</ion-text>
    </div>
  </ion-row>

  <div class="footerbg">

  </div>

</ion-content>

