
<ion-content>

  <ion-row class="background">
    <ion-col style="text-align: right;padding-top:10px;" size="2" >
      <div class="headerSheet" style="margin-top: 30%;">
      
          <ion-icon slot="icon-only" size="large" color="light" name="arrow-back-outline" (click)="return()"></ion-icon>
    
      </div>
    </ion-col> 
    <ion-col size="2" style="padding-top:10px;">
      <img style="margin-top: 5px;" src="../../../assets/katalogtopicon.svg">
    </ion-col>
    <ion-col size="6" style="padding-top:10px;">
      <div style="margin-top: 20px;">
        <a class="header" style="font-size: 18px;color: #FFFFFF;">Bastei Lübbe</a>
      </div>
    </ion-col>
    <ion-col size="2" style="padding-top:10px;" (click)="presentModal()">
      <img style="margin-top: 20px;" src="../../../assets/shareKatalog.svg">
    </ion-col>
  </ion-row> 
  
  <ion-slides pager="false" [options]="slideOpts2">
    <ion-slide>
    <ion-row style="margin-top: 25%;">
      <ion-col style="padding-left: 0px;">
        <div class="lower-background">
          <img style="z-index: 1;width: 102%;" class="image" src="/../../assets/images/topbanner.svg">
        </div>
      </ion-col>
    </ion-row>
    </ion-slide>

    <ion-slide>
      <ion-row style="margin-top: 25%;">
        <ion-col style="padding-left: 0px;">
          <div class="lower-background">
            <img style="z-index: 1;width: 102%;" class="image" src="/../../assets/images/topbanner.svg">
          </div>
        </ion-col>
      </ion-row>
      </ion-slide>

      <ion-slide>
        <ion-row style="margin-top: 25%;">
          <ion-col style="padding-left: 0px;">
            <div class="lower-background">
              <img style="z-index: 1;width: 102%;" class="image" src="/../../assets/images/topbanner.svg">
            </div>
          </ion-col>
        </ion-row>
        </ion-slide>
  </ion-slides>
 
 

    <ion-row style="padding: 15px;">
      <ion-col style="display: flex;
      align-items: center;" size="7">
  <img src="../../assets/images/optionicon.svg">
  <ion-text (click)="LISTENANSICHT()" style="font-size: 11px;color: #444D4D;margin-left: 10px;
  text-transform: uppercase;">Listenansicht</ion-text>
      </ion-col>
      <ion-col style="display: flex;
      align-items: center;justify-content: flex-end;" size="5">
        <!-- <img src="../../assets/images/tickthird.svg"> -->
        <!-- <ion-checkbox checked=true></ion-checkbox> -->
        <label style="font-size: 11px;color: #444D4D;margin-left: 10px;
        text-transform: uppercase;" class="container">nochmal hingehen
          <input type="checkbox" checked="checked">
          <span class="checkmark"></span>
        </label>
  <!-- <ion-text style="font-size: 11px;color: #444D4D;margin-left: 10px;
  text-transform: uppercase;">nochmal hingehen</ion-text> -->
      </ion-col>
    </ion-row>
  
  
    <ion-row style="padding: 10px 10px 0px 10px;margin-left: 5px;">
      <ion-text style="font-size: 22px;color: #112142;">Katalog</ion-text>
    </ion-row>
  
    <ion-slides style="background: #F5F5F5;padding-left: 4%;" pager="false" [options]="slideOpts">
      <ion-slide>
        <ion-card style="background: white; padding-bottom: 5%;">
          <ion-row style="padding:10px">
            <img src="../../assets/images/pdfnew.svg">
          </ion-row>
          <ion-row>
            <ion-text style="font-size: 14px;color: #444D4D;margin-top: 10px;margin-left: 10px;">Lord Ipsum</ion-text>
          </ion-row>
          <ion-row>
            <ion-text style="font-size: 14px;color: #444D4D;margin-left: 10px;">Lord Ipsum</ion-text>
          </ion-row>
          <ion-row>
            <ion-text style="font-size: 13px;color: #B4B3B3;margin-left: 10px;">Lord Ipsum</ion-text>
          </ion-row>
        </ion-card>
      </ion-slide>
      <ion-slide>
        <ion-card style="background: white; padding-bottom: 5%;">
          <ion-row style="padding:10px">
            <img src="../../assets/images/pdfnew.svg">
          </ion-row>
          <ion-row>
            <ion-text style="font-size: 14px;color: #444D4D;margin-top: 10px;margin-left: 10px;">Lord Ipsum </ion-text>
          </ion-row>
          <ion-row>
            <ion-text style="font-size: 14px;color: #444D4D;margin-left: 10px;">Lorem</ion-text>
          </ion-row>
          <ion-row>
            <ion-text style="font-size: 13px;color: #B4B3B3;margin-left: 10px;">Ipsum</ion-text>
          </ion-row>
        </ion-card>
      </ion-slide>
      <ion-slide>
        <ion-card style="background: white; padding-bottom: 5%;" >
          <ion-row style="padding:10px">
            <img src="../../assets/images/pdfnew.svg">
          </ion-row>
          <ion-row>
            <ion-text style="font-size: 14px;color: #444D4D;margin-top: 10px;margin-left: 10px;">Lord Ipsum </ion-text>
          </ion-row>
          <ion-row>
            <ion-text style="font-size: 14px;color: #444D4D;margin-left: 10px;">Lorem</ion-text>
          </ion-row>
          <ion-row>
            <ion-text style="font-size: 13px;color: #B4B3B3;margin-left: 10px;">Ipsum</ion-text>
          </ion-row>
        </ion-card>
      </ion-slide>
    </ion-slides>
  
    <ion-row style="padding: 15px;display: flex;
    align-items: center;">
    <ion-col size="4">
  <ion-text style="font-size: 22px;color: #112142;">
    Notizen
  </ion-text>
    </ion-col>
    <!-- <div *ngIf="isPinwand"> -->
      <!-- <ion-col size="1.6">
        <img src="../../assets/images/camicon.svg">
          </ion-col>
          <ion-col size="1.6"> 
            <img src="../../assets/images/cameraicon.svg">
          </ion-col>
          <ion-col size="1.6">
            <img src="../../assets/images/editfullicon.svg">
          </ion-col>
          <ion-col size="1.6">
            <img src="../../assets/images/lasticon.svg">
          </ion-col>
          <ion-col size="1.6" (click)="addPinnwand()">
            <img style="margin-bottom: 5px;" src="../../assets/images/addicon.svg">
          </ion-col> -->

          <ion-col size="8" style="display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;">
            <ion-col size="1.6" *ngIf="!isNotizen" (click)="showCamera()">
              <img class="img" src="../../assets/images/camicon.svg">
                </ion-col>
                <ion-col size="1.6" *ngIf="isNotizen" (click)="showCamera()">
                  <img class="img" src="../../../assets/images2/new icon/paket_hl.png">
                    </ion-col>
                <ion-col *ngIf="!isCamera" size="1.6" (click)="showNotizen()"> 
                  <img class="img" src="../../assets/images/cameraicon.svg">
                </ion-col>
                <ion-col *ngIf="isCamera" size="1.6" (click)="showNotizen()"> 
                  <img class="img" src="../../../assets/images2/new icon/kamera_hl.png">
                </ion-col>
                
                <ion-col size="1.6" (click)="showArticle()" *ngIf="!isArticle">
                  <img class="img" src="../../assets/images/editfullicon.svg">
                
                </ion-col>
                <ion-col size="1.6" (click)="showArticle()" *ngIf="isArticle">
                
                  <img class="img" src="../../assets/articleSelected.svg" >
                </ion-col>
                <ion-col size="1.6" (click)="showAudio()" *ngIf="!isAudio">
                  <img class="img" src="../../assets/images/lasticon.svg">
                </ion-col>
                <ion-col size="1.6" (click)="showAudio()" *ngIf="isAudio">
                  <img class="img" src="../../assets/selectedAudio.svg">
                </ion-col>
                <ion-col size="1.6" (click)="addNotizen()" >
                  <img style="margin-bottom: 5px;" src="../../assets/images/addicon.svg">
                </ion-col>
              
                
          </ion-col>
    <!-- </div> -->
    
  </ion-row>

  <!-- <div *ngIf="!isPinwand" style="display: flex;justify-content: center;">
    <div id="addButtonBorder" (click)="addPinnwand()">
   
        <img src="../../../assets/plusMark.svg">
  
    </div>
  </div> -->
  
  <!-- <ion-row style="padding: 15px;margin-bottom: 65px;" *ngIf="isPinwand">
    <ion-col style="background: #C5DCDD;height: 130px;">
  <ion-row>
    <ion-col size="2">
  <img src="../../assets/images/editindividual.svg">
    </ion-col>
    <ion-col size="10">
      <ion-text style="color:#444D4D;">Titel...</ion-text>
    </ion-col>
  </ion-row>
  <ion-row style="background: white;margin-top: 15px;">
    <ion-text style="font-size: 10px;color: #444D4D;padding:5px;">
      Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore 
      magna aliquyam.
    </ion-text>
  </ion-row>
  
  <ion-row>
    <div style="background: #C5DCDD;
    height: 136px;
    margin-top: 25%;
    width: 163px;">
      <ion-row style="display: flex;
      align-items: center;
      padding-left: 5px; margin-top: 5%;"> 
        <ion-col size="2">
      <img src="../../assets/images/cameraindividual.svg">
        </ion-col>
        <ion-col size="10">
          <ion-text style="color:#444D4D;">Titel...</ion-text>
        </ion-col>
      </ion-row>
      <ion-row style="margin-top: 15px;display: flex;
      justify-content: center;">
        <img src="../../assets/images/specaunt.svg">
      </ion-row>
    </div>
  </ion-row>
  
    </ion-col>
    <ion-col style="padding-top: 0px;">
      <ion-row style="background: #C5DCDD;height: 50px;display: flex;
      align-items: center;"> 
        <ion-col size="2">
          <img style="height: 36px;
          width: 27px;
          max-width: unset;"src="../../assets/images/titleindividual.svg">
        </ion-col>
        <ion-col size="8" style="padding-left: 9%;">
          <ion-text style="color:#444D4D;">Titel...</ion-text>
        </ion-col>
        <ion-col size="2">
          <img  src="../../assets/images/videoplay.svg"><br>
          <ion-text style="font-size: 7px;">2:12</ion-text>
        </ion-col>
      </ion-row>
  
      <div style="background: #C5DCDD;height: 137px;margin-top: 20px; padding: 5px;">
        <ion-row>
          <ion-col size="2">
        <img src="../../assets/images/editindividual.svg">
          </ion-col>
          <ion-col size="10">
            <ion-text style="color:#444D4D;">Titel...</ion-text>
          </ion-col>
        </ion-row>
        <ion-row style="background: white;
        margin-top: 15px;
        width: 93%;
        margin-left: 3%;">
         
            <ion-text style="font-size: 10px;color: #444D4D;padding: 5px;">
              Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore 
              magna aliquyam.
            </ion-text>
         
          
        </ion-row>
      </div>
      
    </ion-col>
  </ion-row> -->

  <ion-row style="padding: 15px;padding-bottom: 60%;" *ngIf="isAll">
    <ion-col style="background: #C5DCDD;
    height: 140px;">
  <ion-row>
    <ion-col size="2">
  <img src="../../assets/images/editindividual.svg">
    </ion-col>
    <ion-col size="10">
      <ion-text>Titel...</ion-text>
    </ion-col>
  </ion-row>
  <ion-row style="background: white;
  margin-top: 15px;
  width: 90%;
  margin-left: 5%;">
    <ion-text style="font-size: 10px;color: #444D4D;">
      Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore 
      magna aliquyam.
    </ion-text>
  </ion-row>
  
  <ion-row style="padding-top: 23%;">
    <div style="background: #C5DCDD;
    height: 140px;
    margin-top: 25px;
    width: 163px;">
      <ion-row style="display: flex;
      align-items: center;
      padding-left: 5px; margin-top: 5%;"> 
        <ion-col size="2">
      <img src="../../assets/images/cameraindividual.svg">
        </ion-col>
        <ion-col size="10">
          <ion-text>Titel...</ion-text>
        </ion-col>
      </ion-row>
      <ion-row style="margin-top: 15px;display: flex;
      justify-content: center;">
        <img src="../../assets/images/specaunt.svg">
      </ion-row>
    </div>
  </ion-row>


  <div style="background: #C5DCDD;
  height: 140px;margin-top: 10%;">
    <ion-row>
      <ion-col size="2">
    <img src="../../assets/images/editindividual.svg">
      </ion-col>
      <ion-col size="10">
        <ion-text>Titel...</ion-text>
      </ion-col>
    </ion-row>
    <ion-row style="background: white;
    margin-top: 15px;
    width: 90%;
    margin-left: 5%;">
      <ion-text style="font-size: 10px;color: #444D4D;">
        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore 
        magna aliquyam.
      </ion-text>
    </ion-row>
  </div>
 

  <ion-row style="background: #C5DCDD;height: 50px;display: flex;
  align-items: center;margin-top: 10%;"> 
    <ion-col size="2">
      <img src="../../assets/images/titleindividual.svg">
    </ion-col>
    <ion-col size="7">
      <ion-text>Titel...</ion-text>
    </ion-col>
    <ion-col size="3">
      <img src="../../assets/images/videoplay.svg"><br>
      <ion-text style="font-size: 7px;">2:12</ion-text>
    </ion-col>
  </ion-row>

  <ion-row>
    <div style="background: #C5DCDD;
    height: 140px;
    margin-top: 25px;
    width: 163px;">
      <ion-row style="display: flex;
      align-items: center;
      padding-left: 5px; margin-top: 5%;"> 
        <ion-col size="2">
      <img src="../../assets/images/cameraindividual.svg">
        </ion-col>
        <ion-col size="10">
          <ion-text>Titel...</ion-text>
        </ion-col>
      </ion-row>
      <ion-row style="margin-top: 15px;display: flex;
      justify-content: center;">
        <img src="../../assets/images/specaunt.svg">
      </ion-row>
    </div>
  </ion-row>

  <ion-row style="background: #C5DCDD;height: 50px;display: flex;
  align-items: center;margin-top: 10%;"> 
    <ion-col size="2">
      <img src="../../assets/images/titleindividual.svg">
    </ion-col>
    <ion-col size="7">
      <ion-text>Titel...</ion-text>
    </ion-col>
    <ion-col size="3">
      <img src="../../assets/images/videoplay.svg"><br>
      <ion-text style="font-size: 7px;">2:12</ion-text>
    </ion-col>
  </ion-row>

  <div style="background: #C5DCDD;
  height: 140px;margin-top: 10%;">
    <ion-row>
      <ion-col size="2">
    <img src="../../assets/images/editindividual.svg">
      </ion-col>
      <ion-col size="10">
        <ion-text>Titel...</ion-text>
      </ion-col>
    </ion-row>
    <ion-row style="background: white;
    margin-top: 15px;
    width: 90%;
    margin-left: 5%;">
      <ion-text style="font-size: 10px;color: #444D4D;">
        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore 
        magna aliquyam.
      </ion-text>
    </ion-row>
  </div>
  
    </ion-col>


    <ion-col style="padding-top: 0px;">
      <ion-row style="background: #C5DCDD;height: 50px;display: flex;
      align-items: center;"> 
        <ion-col size="2">
          <img src="../../assets/images/titleindividual.svg">
        </ion-col>
        <ion-col size="7">
          <ion-text>Titel...</ion-text>
        </ion-col>
        <ion-col size="3">
          <img src="../../assets/images/videoplay.svg"><br>
          <ion-text style="font-size: 7px;">2:12</ion-text>
        </ion-col>
      </ion-row>
  
      <div style="background: #C5DCDD;height: 18%;margin-top: 10%;">
        <ion-row>
          <ion-col size="2">
        <img src="../../assets/images/editindividual.svg">
          </ion-col>
          <ion-col size="10">
            <ion-text>Titel...</ion-text>
          </ion-col>
        </ion-row>
        <ion-row style="   background: white;
        margin-top: 15px;
        width: 90%;
        margin-left: 5%;">
         
            <ion-text style="font-size: 10px;color: #444D4D;">
              Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore 
              magna aliquyam.
            </ion-text>
         
          
        </ion-row>
      </div>


      <ion-row>
        <div style="background: #C5DCDD;
        height: 140px;
        margin-top: 10%;
        width: 100%;">
          <ion-row style="display: flex;
          align-items: center;
          padding-left: 5px; margin-top: 5%;"> 
            <ion-col size="2">
          <img src="../../assets/images/cameraindividual.svg">
            </ion-col>
            <ion-col size="10">
              <ion-text>Titel...</ion-text>
            </ion-col>
          </ion-row>
          <ion-row style="margin-top: 15px;display: flex;
          justify-content: center;">
            <img src="../../assets/images/specaunt.svg">
          </ion-row>
        </div>
      </ion-row>

      <ion-row style="background: #C5DCDD;height: 50px;display: flex;
      align-items: center;margin-top: 10%;width: 100%;"> 
        <ion-col size="2">
          <img src="../../assets/images/titleindividual.svg">
        </ion-col>
        <ion-col size="7">
          <ion-text>Titel...</ion-text>
        </ion-col>
        <ion-col size="3">
          <img src="../../assets/images/videoplay.svg"><br>
          <ion-text style="font-size: 7px;">2:12</ion-text>
        </ion-col>
      </ion-row>

      <ion-row style="background: #C5DCDD;height: 50px;display: flex;
      align-items: center;margin-top: 10%;width: 100%;"> 
        <ion-col size="2">
          <img src="../../assets/images/titleindividual.svg">
        </ion-col>
        <ion-col size="7">
          <ion-text>Titel...</ion-text>
        </ion-col>
        <ion-col size="3">
          <img src="../../assets/images/videoplay.svg"><br>
          <ion-text style="font-size: 7px;">2:12</ion-text>
        </ion-col>
      </ion-row>

      <ion-row>
        <div style="background: #C5DCDD;
        height: 140px;
        margin-top: 10%;
        width: 100%;">
          <ion-row style="display: flex;
          align-items: center;
          padding-left: 5px; margin-top: 5%;"> 
            <ion-col size="2">
          <img src="../../assets/images/cameraindividual.svg">
            </ion-col>
            <ion-col size="10">
              <ion-text>Titel...</ion-text>
            </ion-col>
          </ion-row>
          <ion-row style="margin-top: 15px;display: flex;
          justify-content: center;">
            <img src="../../assets/images/specaunt.svg">
          </ion-row>
        </div>
      </ion-row>

      <div style="background: #C5DCDD;height: 18%;margin-top: 10%;width: 100%;">
        <ion-row>
          <ion-col size="2">
        <img src="../../assets/images/editindividual.svg">
          </ion-col>
          <ion-col size="10">
            <ion-text>Titel...</ion-text>
          </ion-col>
        </ion-row>
        <ion-row style="   background: white;
        margin-top: 15px;
        width: 90%;
        margin-left: 5%;">
         
            <ion-text style="font-size: 10px;color: #444D4D;">
              Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore 
              magna aliquyam.
            </ion-text>
         
          
        </ion-row>
      </div>

      
      
    </ion-col>
  </ion-row>


  <ion-row style="padding: 15px;margin-bottom: 65px;" *ngIf="isCamera">
    <ion-col style="background: #C5DCDD;
    height: 140px;">
  <ion-row>
    <ion-col size="2">
  <img src="../../assets/images/editindividual.svg">
    </ion-col>
    <ion-col size="10">
      <ion-text>Titel...</ion-text>
    </ion-col>
  </ion-row>
  <ion-row style="background: white;
  margin-top: 15px;
  width: 90%;
  margin-left: 5%;">
    <ion-text style="font-size: 10px;color: #444D4D;">
      Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore 
      magna aliquyam.
    </ion-text>
  </ion-row>
  
  <ion-row style="padding-top: 23%;">
    <div style="background: #C5DCDD;
    height: 140px;
    margin-top: 25px;
    width: 163px;">
      <ion-row style="display: flex;
      align-items: center;
      padding-left: 5px; margin-top: 5%;"> 
        <ion-col size="2">
      <img src="../../assets/images/cameraindividual.svg">
        </ion-col>
        <ion-col size="10">
          <ion-text>Titel...</ion-text>
        </ion-col>
      </ion-row>
      <ion-row style="margin-top: 15px;display: flex;
      justify-content: center;">
        <img src="../../assets/images/specaunt.svg">
      </ion-row>
    </div>
  </ion-row>


  
 

 


  

 
  
  
    </ion-col>
    <ion-col style="padding-top: 0px;">
      <ion-row style="background: #C5DCDD;height: 50px;display: flex;
      align-items: center;"> 
        <ion-col size="2">
          <img src="../../assets/images/titleindividual.svg">
        </ion-col>
        <ion-col size="7">
          <ion-text>Titel...</ion-text>
        </ion-col>
        <ion-col size="3">
          <img src="../../assets/images/videoplay.svg"><br>
          <ion-text style="font-size: 7px;">2:12</ion-text>
        </ion-col>
      </ion-row>
  
      <div style="background: #C5DCDD;height: 70%;margin-top: 20px;">
        <ion-row>
          <ion-col size="2">
        <img src="../../assets/images/editindividual.svg">
          </ion-col>
          <ion-col size="10">
            <ion-text>Titel...</ion-text>
          </ion-col>
        </ion-row>
        <ion-row style="   background: white;
        margin-top: 15px;
        width: 90%;
        margin-left: 5%;">
         
            <ion-text style="font-size: 10px;color: #444D4D;">
              Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore 
              magna aliquyam.
            </ion-text>
         
          
        </ion-row>
      </div>

      
      
    </ion-col>
  </ion-row>

  <div *ngIf="isAudio">
    <ion-row>
      <ion-col size="6" > 
 <ion-row style="background: #C5DCDD;height: 50px;display: flex;
 align-items: center;">
  <ion-col size="2">
    <img src="../../assets/images/titleindividual.svg">
  </ion-col>
  <ion-col size="7">
    <ion-text>Titel...</ion-text>
  </ion-col>
  <ion-col size="3">
    <img src="../../assets/images/videoplay.svg"><br>
    <ion-text style="font-size: 7px;">2:12</ion-text>
  </ion-col>
</ion-row>
      </ion-col>
      <ion-col size="6" >
        <ion-row style="background: #C5DCDD;height: 50px;display: flex;
        align-items: center;">
          <ion-col size="2">
            <img src="../../assets/images/titleindividual.svg">
          </ion-col>
          <ion-col size="7">
            <ion-text>Titel...</ion-text>
          </ion-col>
          <ion-col size="3">
            <img src="../../assets/images/videoplay.svg"><br>
            <ion-text style="font-size: 7px;">2:12</ion-text>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  

    <ion-row>
      <ion-col size="6" > 
 <ion-row style="background: #C5DCDD;height: 50px;display: flex;
 align-items: center;">
  <ion-col size="2">
    <img src="../../assets/images/titleindividual.svg">
  </ion-col>
  <ion-col size="7">
    <ion-text>Titel...</ion-text>
  </ion-col>
  <ion-col size="3">
    <img src="../../assets/images/videoplay.svg"><br>
    <ion-text style="font-size: 7px;">2:12</ion-text>
  </ion-col>
</ion-row>
      </ion-col>
      <ion-col size="6" >
        <ion-row style="background: #C5DCDD;height: 50px;display: flex;
        align-items: center;">
          <ion-col size="2">
            <img src="../../assets/images/titleindividual.svg">
          </ion-col>
          <ion-col size="7">
            <ion-text>Titel...</ion-text>
          </ion-col>
          <ion-col size="3">
            <img src="../../assets/images/videoplay.svg"><br>
            <ion-text style="font-size: 7px;">2:12</ion-text>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
   
  </div>

  <ion-row *ngIf="isArticle">
    <ion-col style="padding-top: 0px;">
     
  
      <div style="background: #C5DCDD;height: 95%;margin-top: 20px;">
        <ion-row>
          <ion-col size="2">
        <img src="../../assets/images/editindividual.svg">
          </ion-col>
          <ion-col size="10">
            <ion-text>Titel...</ion-text>
          </ion-col>
        </ion-row>
        <ion-row style="background: white;
        margin-top: 15px;
        width: 90%;
        margin-left: 5%;">
         
            <ion-text style="font-size: 10px;color: #444D4D;">
              Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore 
              magna aliquyam.
            </ion-text>
         
          
        </ion-row>
      </div>
      
    </ion-col>
    <ion-col style="padding-top: 0px;">
    
  
      <div style="background: #C5DCDD;height: 95%;margin-top: 20px;">
        <ion-row>
          <ion-col size="2">
        <img src="../../assets/images/editindividual.svg">
          </ion-col>
          <ion-col size="10">
            <ion-text>Titel...</ion-text>
          </ion-col>
        </ion-row>
        <ion-row style="background: white;
        margin-top: 15px;
        width: 90%;
        margin-left: 5%;">
         
            <ion-text style="font-size: 10px;color: #444D4D;">
              Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore 
              magna aliquyam.
            </ion-text>
         
          
        </ion-row>
      </div>
      
    </ion-col>
  </ion-row>

  <ion-row style="margin-bottom: 20%;" (click)="anfragen()">
    <ion-col>
      <div style="text-align: center;font-size:16px;padding-top: 20%;">
        <ion-button type="submit" form="form1" value ="submit" shape="round" fill="outline" style="--border-width: 2px;
        --border-color: #907F63;
        color: #907F63;
        width: 69%;
        height: 54px;">ANFRAGEN<img style="margin-left: 12%;" src="../../../assets/anfragenarrow.png"></ion-button>
      </div>
    </ion-col>
  </ion-row>
</ion-content>
