


.background{
    background-image: url(/../../assets/BG-Iconic_final/messeauswahl-top@1x.png);
   // height: 20%;
    width: 100%;
    font-family:"WorkSans-Medium";
    z-index: 10;
    position: absolute;
    height: 25%;
    background-repeat: no-repeat;
    background-size: cover;
  }

.ios .bottomContent{
    justify-content: center;
    color: #907F63;
    margin-top: 8%;
   
}

ion-input{
    color: #007072;
    font-size: 18px;
    letter-spacing: 1px;
    font-family: "WorkSans-Regular";

}

.bottomContent{
    justify-content: center;
    color: #907F63;
    margin-top: 19%;
    margin-bottom: 45%;
}

.background .headerSheet {
    padding-top: 20%;
    padding-left: 15%;
    width: auto;
    height: auto;
}

.background .header {
    font-size: 18px;
    color: #f5f5f5;
   
    left: 0px;
} 

div {
    text-align: left;
    margin-left: 10%;
    
}

.invalid-feedback{
    font-size: 13px;
    color: red;
    background: white;
    border-radius: 1px;

  }

.iconCol{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

ion-button {
    --border-width: 2px;
    --ion-color-primary: #907F63;
    text-align: center;
    width: 65%;
    height: 45px !important;
    letter-spacing: 3px !important;



}

ion-content {
    background-color: #f5f5f5;
    font-family: Arial, Helvetica, sans-serif;
}

#form1 {
    color: #112142;
}

#form1 ion-label {
    text-align: left;
    font-size: 13px;
    letter-spacing: 1px;
    font-family: "WorkSans-Regular";
}

#form1 ion-input {
    --ion-primary-color: #112142;
    border: thin;
    --padding-start: 0px;
}
ion-input{
    --padding-start: 0px;
    font-family: "";
}

#formBox {
    --ion-color-primary: #112142;
    border-bottom: 1px solid #112142;

}

.footer {
    margin-bottom: 30px;
    color: #907F63;
    font-size: 13px;
}