<ion-content [fullscreen]="true">
  

  <!-- <ion-row class="background">
    <ion-col style="text-align: center" size="4">
      <div class="headerSheet" style="margin-top: 5%;">
        <img src="/../../assets/BG-Iconic_final/messe_book_logo.png">
      </div>
    </ion-col>
    <ion-col size="8">
      <div style="position: relative; top: 30px;">
      <p class="header" style="color: white;">Profil</p>
      </div>
    </ion-col>
  </ion-row> -->

  <ion-row class="background" style="padding: 5%;">
    <ion-col size="3">
      <div class="logo">
        <img src="/../../assets/BG-Iconic_final/messe_book_logo.png">
      </div>
    </ion-col>
    <ion-col size="9" class="headCol" style="top: 15%;">
    
        <ion-text style="font-size: 18px;color: #FFFFFF;">Profil</ion-text>
    
    </ion-col>
  </ion-row>
  <!-- <ion-row class="background">
    <ion-row style="    display: flex;
    align-items: center;
    padding-left: 10%;">
      <img style="width: 20%;
      height: 40%;" src="/../../assets/BG-Iconic_final/messe_book_logo.png">
     
   
      <p class="header" style="color: white;padding-left: 7%;"></p>
    
    </ion-row>
     <ion-row>

     </ion-row>
      
  
  </ion-row> -->
  
  
    <ion-row style="margin-top: 45%;">
      <ion-col size="10">
        <div id="formBox">
          <ion-form method="get" id="form1">
            <ion-label for="company" position="fixed">FIRMA</ion-label>
            <ion-input [(ngModel)]="FIRMA" id="company"></ion-input>
          </ion-form>
        </div>
      </ion-col> 
      <ion-col size="2" class="iconCol">
        <img src="../../../assets/editiconProfil.svg">
      </ion-col>
    </ion-row>
    <ion-row style="margin-top: 4px;">
      <ion-col size="10">
        <div id="formBox">
          <ion-form method="get" id="form1">
            <ion-label for="firstName" position="fixed">VORNAME</ion-label>
            <ion-input [(ngModel)]="VORNAME" id="firstName"></ion-input>
          </ion-form>
        </div>
      </ion-col>
      <ion-col size="2" class="iconCol">
        <img src="../../../assets/editiconProfil.svg">
      </ion-col>
    </ion-row>
    <ion-row style="margin-top: 4px;">
      <ion-col size="10">
        <div id="formBox">
          <ion-form method="get" id="form1">
            <ion-label for="surname" position="fixed">NACHNAME</ion-label>
            <ion-input [(ngModel)]="NACHNAME" id="surname"></ion-input>
          </ion-form>
        </div>
      </ion-col>
      <ion-col size="2" class="iconCol">
        <img src="../../../assets/editiconProfil.svg">
      </ion-col>
    </ion-row>
    <ion-row style="margin-top: 4px;">
      <ion-col size="10">
        <div id="formBox">
          <ion-form method="get" id="form1">
            <ion-label for="e-mail" position="fixed">E-MAIL</ion-label>
            <ion-input [(ngModel)]="email" id="e-mail"></ion-input>
          </ion-form>
        </div>
      </ion-col>
      <ion-col size="2" class="iconCol">
        <img src="../../../assets/editiconProfil.svg">
      </ion-col>
    </ion-row>
    <ion-row style="margin-top: 4px;">
      <ion-col size="10">
        <div id="formBox">
          <ion-form method="get" id="form1">
            <ion-label for="password" position="fixed">PASSWORT</ion-label>
            <ion-input [(ngModel)]="PASSWORT" id="password"></ion-input>
          </ion-form>
        </div>
      </ion-col>
      <ion-col size="2" class="iconCol">
        <img src="../../../assets/editiconProfil.svg">
      </ion-col>
    </ion-row>
    <ion-row style="margin-top: 4px;">
      
        <ion-col size="10">
          <div id="formBox">
            <ion-form method="get" id="form1">
              <ion-label for="password" position="fixed">PASSWORT WIEDERHOLEN</ion-label>
              <ion-input style="color: #DB4F4F;font-size: 18px;" [(ngModel)]="PASSWORT2" id="password"></ion-input>
            </ion-form>
          </div><br>
          <div style="font-size: 14px;color: #DB4F4F;">
            Passwort unterschiedlich
          </div>
        </ion-col>
        <ion-col size="2" class="iconCol">
          <img src="../../../assets/crossprofil.svg">
        </ion-col>
      
    
    </ion-row>  
    <ion-row style="margin-top: 10%;justify-content: center;">
    
       
          <ion-button type="submit" form="form1" value ="submit" shape="round" fill="outline">SPEICHERN</ion-button>
   
     
    </ion-row>
    <ion-row class="bottomContent" >
    
     
          <ion-text style="text-decoration: underline;
          font-size: 13px;" (click)="go()">Abmelden</ion-text>
     
   
    </ion-row>
 

</ion-content>
