<ion-content>
  <ion-grid>
    <ion-row class="background">
      <ion-col style="text-align: right" size="2">
        <div class="headerSheet" style="margin-top: 3%;">
          <ion-button class="newDoc" fill="outline">
            <ion-icon slot="icon-only" name="document-outline"></ion-icon>
          </ion-button>
        </div>
      </ion-col>
      <ion-col size="8">
        <div style="position: relative; top: 10px;">
          <p class="header">Notizen</p>
        </div>
      </ion-col>
      <ion-col class="rightCol" size="2">
          <ion-button (click)="go()" style="--border-color: transparent; --ion-color-primary: transparent;">
            <ion-icon style="--ion-color-primary: white;" slot="icon-only" name="add-outline"></ion-icon>
          </ion-button>
      </ion-col>
    </ion-row>
    <ion-row style="margin-top: 30%;">
      <ion-col>
        <div class="searchbox">
          <ion-input placeholder="Suche"></ion-input>
          <ion-icon style="right: 5%;" name="search-outline"></ion-icon>
        </div>
      </ion-col>
    </ion-row>
    <ion-row style="margin-top: 5%;">
      <ion-col>
        <div>
          <ion-button class="icon">
            <ion-icon style="right: 0px;" slot="icon-only" name="list-circle-outline"></ion-icon>
          </ion-button>
          <a (click)="LISTENANSICHT()" style="left: 0px; font-size: 11px;
           color: #444D4D;" href=#>LISTENANSICHT</a>
        </div>
      </ion-col>
    </ion-row>
    <ion-row style="padding: 15px;display: flex;
    align-items: center;">
    <ion-col size="6">
  <ion-text style="font-size: 23px;color: #112142;">
    Pinnwand
  </ion-text>
    </ion-col>
    <ion-col size="1.5">
  <img src="../../assets/images/camicon.svg">
    </ion-col>
    <ion-col size="1.5"> 
      <img src="../../assets/images/cameraicon.svg">
    </ion-col>
    <ion-col size="1.5">
      <img src="../../assets/images/editfullicon.svg">
    </ion-col>
    <ion-col size="1.5">
      <img src="../../assets/images/lasticon.svg">
    </ion-col>
  </ion-row>
    <ion-row style="margin-top: 5%;">
      <ion-col> 
        <div class="titleBox">
          <ion-row>
            <ion-col size="12">
              <img src="/../../assets/pinnwand_audio.png"> 
            </ion-col>
          </ion-row>
        </div>
      </ion-col>
      <ion-col>
        <div class="titleBox">
          <ion-row>
            <ion-col size="12">
              <img src="/../../assets/pinnwand_audio.png"> 
            </ion-col>
          </ion-row>
        </div>
      </ion-col>
    </ion-row>
    <ion-row style="margin-top: 5%;">
      <ion-col> 
        <div class="titleBox">
          <ion-row>
            <ion-col size="12">
              <img src="/../../assets/pinnwand_audio.png"> 
            </ion-col>
          </ion-row>
        </div>
      </ion-col>
      <ion-col>
        <div class="titleBox">
          <ion-row>
            <ion-col size="12">
              <img src="/../../assets/pinnwand_audio.png"> 
            </ion-col>
          </ion-row>
        </div>
      </ion-col>
    </ion-row>
    <ion-row style="margin-top: 5%;">
      <ion-col>
        <div class="titleBox">
          <ion-row>
            <ion-col size="12">
              <img src="/../../assets/pinnwand_audio.png"> 
            </ion-col>
          </ion-row>
        </div>
      </ion-col>
      <ion-col style="width: 50%;">
        <div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>