<ion-content>
 
  <!-- <ion-row class="background">
    <ion-col style="text-align: center" size="3">
      <div class="headerSheet" style="margin-top: 5%;">
        <img class="img1" src="/../../assets/BG-Iconic_final/messe_book_logo.png">
      </div>
    </ion-col>
    <ion-col size="9">
      <div style="position: relative; top: -5px;">
      <p class="header">Neues Messebuch anlegen</p>
      </div>
    </ion-col>
  </ion-row> -->

  <ion-row class="background" style="padding: 7%;">
    <ion-col (click)="back()" style="top: 5px;" size="2">  
      <img style="padding-top: 15px;" src="../../../assets/backerfassen.svg">  
    </ion-col>
    <ion-col size="10" style="display: flex;"> 
      <p class="header">Neues Messebuch anlegen</p>
    </ion-col> 
  </ion-row>

  <ion-row class="row1">
    <div class="div2">
      <ion-text class="text3">Name</ion-text>
    </div>
  </ion-row>

  <ion-row class="row">
    <div class="div">
      <ion-input placeholder="Name eingeben" type="text" class="text"></ion-input>
    </div>
  </ion-row>



  <ion-row class="row3" (click)="exhibtioner()">
    <div class="div1">
      <ion-text>Messe auswählen</ion-text>
      <img class="img" src="../../assets/anfragenarrow.png">
    </div>
  </ion-row>

  <ion-row class="row2" >
    <div class="div3">
    <ion-text class="text2">Ohne Messeauswahl fortfahren</ion-text>
  </div>
  </ion-row>

  <div class="footerbg">

  </div>

</ion-content>

