.background{
    background-image: url(/../../assets/BG-Iconic_final/messeauswahl-top@1x.png);
   // height: 20%;
    width: 100%;
    font-family:"WorkSans-Medium";
    z-index: 10;
    position: absolute;
    height: 25%;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .background .header {
    color: white;
    font-size: 18px;
    letter-spacing: 2px;
    left: 0px;
    font-family: "WorkSans-Medium";
}


.background .return {
    --ion-color-primary: #7BB0B1;
    --border-color: transparent;
    width: auto;
    height: auto;
    left: 10px;
}
//   .background .header {
//     font-size: 18px;
//     font-family:"WorkSans-Medium";
//     color: white;
//     position: relative;
//     left: 0px;
//     margin-top: 17%;
// }

.background .logo {
    width: 75%;
    height: 75%;
    bottom: 0px;
    margin-top: 10%;
    margin-left: 10%;
    position: relative;
}

.footerbg{
    margin-left: 0px !important;
    background-image: url(../../assets/messeauswah-bottom@1x.png);
    height: 15%;
    width: 100%;
    bottom: 0;
    align-items: baseline;
    max-width: auto;
    left: 0px;
  
    background-position-x: 50%;
    background-position-y: 42%;
    position: relative;
  text-align: center;
  display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 58%;
  }
  .text{
      color: #B4B3B3;
      font-family:"WorkSans-Regular";
      font-size: 18px;
  }

  .icon{
    color: #B4B3B3;
    font-size: 22px;
  }

  .div{
      width: 80%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding: 1%;
      border-bottom: 1px solid #112142;
      align-items: center;
  }
  .div2{
    width: 80%;
    // display: flex;
    // flex-direction: row;
    // justify-content: center;
    padding: 1%;
  }

  .div3{
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 1%;
  }

  .row{
      justify-content: center;
    //   margin-top: 40%;
  }
  .row1{
    margin-top: 50%;
    justify-content: center;
  }
  .row2{
    margin-top: 20%;
    justify-content: center;
  }
  .row3{
    margin-top: 20%;
    justify-content: center;
  }
  .row4{
    margin-top: 5%;
    justify-content: center;
  }
  .div1{
      border: 1px solid #907F63;
      border-radius: 50px;
      width: 85%;
      padding: 4%;
      display: flex;
      flex-direction: row;
      align-items: center;
      ion-text{
          color: #907F63;
          font-family:"WorkSans-Medium";
          font-size: 16px;
          margin-left: 10%;
      }
      img{
        margin-left: 35%;
      }
  }
  .img{
    margin-left: 24%;
  }
  .img1{
    width: 50%;
    margin-top: 35%;
  }
  .text1{
    font-family:"WorkSans-Regular";
    font-size: 23px;
    // margin-left: 10%;
  }
  .text2{
    font-family: WorkSans-Regular;
    font-size: 16px;
    color: #007072;
    margin-left: 2%;
    text-decoration: underline;
  }
  .col{
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .text3{
    color: #112142;
  }