

<ion-tabs>  

  <ion-fab (click)="goToErfassen()" vertical="bottom" horizontal="center" translucent="true" >
    
    <ion-fab-button >
     
      
      <ion-tab-button tab="notes-mixed"><img src="../../../assets/images2/new icon/+.svg"></ion-tab-button>
    </ion-fab-button>
  
  </ion-fab>
  
  <ion-tab-bar slot="bottom" class="ion-no-border">
    <ion-tab-button tab="katalog">
      <!-- <ion-icon name="home-outline"></ion-icon> -->
      <!-- <img src="../../../assets/home.svg"> -->
      <img src="../../../assets/diary.svg">
    </ion-tab-button>

    <ion-tab-button tab="exhibitors-list" class="comments">
      <img src="../../../assets/menubottom.svg">
      <!-- <ion-icon name="list-outline"></ion-icon> -->
   
    </ion-tab-button>

    <svg height="50" viewBox="0 0 100 50" width="100" xmlns="http://www.w3.org/2000/svg"><path d="M100 0v50H0V0c.543 27.153 22.72 49 50 49S99.457 27.153 99.99 0h.01z" fill="red" fill-rule="evenodd"></path></svg>

    <ion-tab-button tab="home" class="notifs">
      <!-- <ion-icon name="book-outline"></ion-icon> -->
      <!-- <img src="../../../assets/diary.svg"> -->
      <ion-icon style="font-size: 35px;" name="alert-circle-outline"></ion-icon>
      <ion-badge *ngIf="new_activities"></ion-badge>
    </ion-tab-button>

    <ion-tab-button (click)="presentModal()" class="tab tab--right">
      <!-- <ion-icon name="ellipsis-vertical-outline"></ion-icon> -->
      <img src="../../../assets/menu.svg">
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
