<ion-content [fullscreen]="true">
 
  <ion-content>
  
    <ion-grid>
      <ion-row class="background">
        <ion-col size="3">
          <div>
            <img style="width: 50%; height: 50%; margin-top: 10%; margin-left: 10%;"src="/../../assets/BG-Iconic_final/company_logo_ionic.png">
          </div>
        </ion-col>
        <ion-col size="7">
          <div style="color: white; font-size: 18px;">
            Frankfurter Buchmesse
          </div>
        </ion-col>
        <ion-col size="2">
          <div>
            <img src="/../../assets/BG-Iconic_final/Gruppe 80.png">
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>

  <div class="foto">
    <img src="/../../assets/BG-Iconic_final/Komponente 18 – 1.png">
  </div>

  <div class="ausDiv">
    <ion-text style="font-size: 23px;color: #444D4D;">Aussteller</ion-text>
    <img src="/../../assets/BG-Iconic_final/Icon ionic-ios-arrow-round-forward.png">
  </div>
  
    <ion-slides style="background: white;" pager="false" [options]="slideOpts">
      <ion-slide>
        <ion-card>
          <ion-row>
            <img (click)="go()" src="/../../assets/Bastei_Lübbe_Verlag_logo-1@2x.png">
          </ion-row>
          <ion-row>
            <ion-text style="font-size: 12px;color: #444D4D;margin-top: 10px;">Bastei Lübbe</ion-text>
          </ion-row>
        </ion-card> 
      </ion-slide>
      <ion-slide> 
        <ion-card>
          <ion-row>
            <img src="/../../assets/BG-Iconic_final/Komponente 7 – 1@2x.png">
          </ion-row>
          <ion-row>
            <ion-text style="font-size: 12px;color: #444D4D;margin-top: 10px;">Lorem Ipsum</ion-text>
          </ion-row>
        </ion-card>
      </ion-slide>
      <ion-slide>
        <ion-card>
          <ion-row>
            <img src="../../assets/images/3.png">
          </ion-row>
          <ion-row>
            <ion-text style="font-size: 12px;color: #444D4D;margin-top: 10px;">Lorem Ipsum</ion-text>
          </ion-row>
        </ion-card>
      </ion-slide>
    </ion-slides>
  

  <ion-row class="helanDiv">
    <ion-col size="8" style="display: flex;justify-content: space-between; ">
      <img src="/../../assets/images1/4.png">
      <ion-text style="font-size: 23px;color: #444D4D;">Hallenplan</ion-text>
    </ion-col>
    <ion-col size="4" style="display: flex;
    justify-content: flex-end;">
      <img src="/../../assets/BG-Iconic_final/Icon ionic-ios-arrow-round-forward.png">
    </ion-col>
  </ion-row>
  <div class="programmDiv">
    <ion-row style="display: flex;
    justify-content: space-between;">
      <ion-text style="font-size: 23px;color: #444D4D;">Programm</ion-text>
      <img src="/../../assets/BG-Iconic_final/Icon ionic-ios-arrow-round-forward.png">
    </ion-row>

    <ion-row style="margin-top: 10px;display: flex;align-items: center;">
      <ion-col size="1">
<img src="/../../assets/BG-Iconic_final/calendar (1).png">
      </ion-col>
      <ion-col style="font-size: 13px;text-align: center;color: #444D4D;" size="4"> 
        10:00 - 11:30
      </ion-col>
      <ion-col size="3" style="font-size: 13px;color: #444D4D;">
        Lorem Ipsum
      </ion-col>
      <ion-col size="4" style="font-size: 13px;display: flex;
      justify-content: center;">
        <ion-button shape="round" size="small" fill="outline">Halle 5</ion-button>
      </ion-col>
    </ion-row>
    <ion-row style="margin-top: 10px;display: flex;align-items: center;">
      <ion-col size="1">
<img src="/../../assets/BG-Iconic_final/calendar (1).png">
      </ion-col>
      <ion-col style="font-size: 13px;text-align: center;color: #444D4D;" size="4"> 
        10:00 - 11:30
      </ion-col>
      <ion-col size="3" style="font-size: 13px;color: #444D4D;">
        Lorem Ipsum
      </ion-col>
      <ion-col size="4" style="font-size: 13px;display: flex;
      justify-content: center;">
        <ion-button shape="round" size="small" fill="outline">Halle 5</ion-button>
      </ion-col>
    </ion-row>
   
  </div>
</ion-content>



