

.background{
  background-image: url(/../../assets/BG-Iconic_final/messeauswahl-top@1x.png);
 // height: 20%;
  width: 100%;
  font-family:"WorkSans-Medium";
  z-index: 10;
  position: absolute;
  height: 25%;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 5%;
}


.background .content {
    text-align: center;

}

.foto {
    margin-top: 20%;
} 


.ausDiv{
    padding: 25px;
      display: flex;
      justify-content: space-between;
      background: white;
  }
  
  
  
  .helanDiv{
    padding: 23px;
    display: flex;
    background: #D5E1E2;
  }
  
  .programmDiv{
    padding: 25px;
    background: white;
    border: 2px solid transparent;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
  
    ion-row{
      ion-col{
        padding-left: 0px;
        padding-right: 0px;
      }
    }
    ion-button{
      color: #444D4D;
      --border-color: #007072;
    }
  }
  
  ion-card{
    height: 100px;
    width: 100px;
    background: #F4F4F4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  ion-content{
  
    --ion-background-color:#F5F5F5;
  }