/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";


ion-content{

    --ion-background-color:#F5F5F5;
}
p{
  font-family: "WorkSans-Regular";
}

ion-text{
  font-family: "WorkSans-Regular";
}
ion-label{
  font-family: "WorkSans-Regular";
}
ion-content{
  font-family: "WorkSans-Regular";
  .background{
    font-family: "WorkSans-Medium";
  }
}


  .myOptionsmodalPage{
    height: 50%;
    position: fixed;
    bottom: 0;
    width: 100%;
    top: 50%;
    .modal-wrapper {
        background: #FFFFFF;
      }
}




// @media all and (min-height: 812px)
//  {
//   .myOptionsmodalPage{
//     height: 34%;
//     position: fixed;
//     bottom: 0;
//     width: 100%;
//     top: 68%;

//     .modal-wrapper {
//         background: #FFFFFF;
//       }
// }
// }

// @media all and (min-height: 736px)
//  {
//   .myOptionsmodalPage{
//     height: 38%;
//     position: fixed;
//     bottom: 0;
//     width: 100%;
//     top: 62%;

//     .modal-wrapper {
//         background: #FFFFFF;
//       }
// }
// }

ion-button{
  --font-family: 'Work Sans Medium';
}

.socialSharingModal{
  .modal-wrapper{
    height: 34%;
    position: fixed;
    bottom: 0;
    width: 100%;
    background: #FFFFFF;    
  }
}
