<ion-content>
 
 
  
    <ion-row class="background">
      <ion-col style="text-align: center" size="2">
        <div class="headerSheet" style="margin-top: 50%;">
        
            <!-- <ion-icon slot="icon-only" size="large" color="light" name="arrow-back-outline" (click)="return()"></ion-icon> -->
            <img (click)="return()" src="../../../assets/return.svg">
        </div>
      </ion-col> 
      <ion-col size="8">
        <div style="margin-top: 10%;">
          <a class="header" style="font-size: 18px;color: #FFFFFF;font-weight:bold;">Notiz hinzufügen</a>
        </div>
      </ion-col>
    </ion-row> 

    <ion-row style="text-align: center; margin-top: 48%;">
      <ion-col>
        <div id="button1">
          <div id="object1">
            <p style="margin-top: 15%;" (click)="goPhoto()">FOTOGRAFIEREN</p>
            <div id="image2">
              <img src="/../../assets/camera.svg">
            </div>
          </div>
        </div>
      </ion-col>
    </ion-row>
    <ion-row style="text-align: center; margin-top: 15%;">
      <ion-col>
        <div  id="button">
        <div id="object">
            <p (click)="goTextnote()">TEXT<br>EINGEBEN</p>
            <div id="image">
              <img src="/../../assets/pen.svg">
            </div>
          </div>
        </div>
      </ion-col>
    </ion-row>
    <ion-row style="text-align: center; margin-top: 15%;">
      <ion-col>
        <div  id="button">
        <div id="object">
            <p (click)="go()">SPRACHNACHRICHT<br>AUFNEHMEN</p>
            <div id="image1">
              <img src="/../../assets/mic.png">
            </div>
          </div>
        </div> 
      </ion-col>
    </ion-row>
    <!-- <ion-row  style="text-align: center; margin-top: 15%;">
      <ion-col>
        <div>
          <ion-button class="submit" style="width: 60%;
          --border-width: 2px;
          --border-color: #907F63;color:#907F63;height: 45px;
          letter-spacing: 2px;" shape="round" fill="outline">SPEICHERN</ion-button>
        </div>
      </ion-col>
    </ion-row> -->
  
</ion-content>
