
.background{
  background-image: url(/../../assets/BG-Iconic_final/registrieren-top@1x.png);
  height: 38%;
  width: 100%;
  background-size: 100% auto;
  top: 0;
  align-items: baseline;
  max-width: auto;
  position: absolute;
  left: 0px;
  right: 0px;
  background-repeat: no-repeat;
background-size: cover;
}

.background .headerSheet {
  padding-top: 20%;
  padding-left: 15%;
  width: 100%;
  height: auto;

}

.background .header {
  font-size: 18;
  text-align: bottom left;
  padding-left: 8%;
  color: whitesmoke;
  letter-spacing: 2px;
  font-family:"WorkSans-Medium";
}


.footerbg{
  margin-left: 0px !important;
  background-image: url(../../../assets/messeauswah-bottom@1x.png);
  height: 15%;
  width: 100%;
  bottom: 0;
  align-items: baseline;
  max-width: auto;
  left: 0px;

  background-position-x: 50%;
  background-position-y: 42%;
  position: relative;
text-align: center;
display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-repeat: no-repeat;
  background-size: cover;
}



.button {
  text-align: center;
  height: 60px;
}

.button ion-button {
  width: 50%;
  height: 45px;
  --ion-color-primary: #907F63;
  color: #907F63;
  letter-spacing: 3px;
  --border-width: 2px;
}

ion-button{
  height: 45px;
    letter-spacing: 3px;
    font-family: 'WorkSans-Medium';

}

ion-label {
  font-size: 13px;
  color: #112142;
}

.inputField {
  padding-left: 5%;
  padding-right: 15%;
}

.forgPass {
  font-size: 13px;
  float: right;
  color: #003031;
}

.footer {
  margin-top: 45%;
  font-size: 13;
}


#pwd, #e-mail {
  border-bottom: 1px solid #112142;
}

.row{
  margin-top: 5%;
  justify-content: center;
}

.card{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 4%;
  width: 70%;
}

.img{
  width: 20%;
}

.text{
  font-family: WorkSans-Medium;
  font-size: 16px;
}
.text1{
  font-family: WorkSans-Medium;
  font-size: 16px;
  color: #112142;
}
.text2{
  font-family: WorkSans-Medium;
  font-size: 16px;
  color: #007072;
  margin-left: 2%;
  text-decoration: underline;
}





