

<ion-content>
 
    <ion-row class="background">
      <ion-col style="text-align: center" size="4">
        <div class="headerSheet" style="margin-top: 5%;">
          <img src="/../../assets/BG-Iconic_final/messe_book_logo.png">
        </div>
      </ion-col>
      <!-- <ion-col size="8">
        <div style="position: relative; top: -5px;">
        <p class="header">Einloggen</p>
        </div>
      </ion-col> -->
    </ion-row>
    <ion-row style="margin-top: 75%;">
      <ion-col>
        <div class="inputField">
          <ion-form id="login" method="get">
            <ion-label for="e-mail" position="fixed">E-MAIL</ion-label>
            <ion-input type="email" id="e-mail" placeholder="e-Mail eingeben"></ion-input>
          </ion-form>
        </div>
      </ion-col>
    </ion-row>
    <ion-row style="margin-top: 5%;">
      <ion-col>
        <div class="inputField">
          <ion-form id="login" method="get">
            <ion-label for="pwd" position="fixed">PASSWORT</ion-label>
            <ion-input type="password" id="pwd" placeholder="Passwort eingeben">
            </ion-input>
          </ion-form>
        </div>
      </ion-col>
    </ion-row>
    <ion-row style="margin-top: 3px;">
      <ion-col size="2">
      </ion-col>
      <ion-col size="8">
        <div>
          <a class="forgPass" href="">Passwort vergessen?</a>
        </div>
      </ion-col>
      <ion-col size="2">
      </ion-col>
    </ion-row>
    <ion-row style="margin-top: 5%;">
      <ion-col>
        <div class="button">
          <ion-button (click)="goNext()" shape="round" fill="outline" 
          style="--border-width: 2px;">EINLOGGEN</ion-button>
        </div>
      </ion-col>
    </ion-row>

    <ion-row class="row" (click)="loginWithGoogle()">
      <!-- <div class="div"> -->
      <ion-card class="card">
        <img class="img" src="../../../assets/google.png">
        <ion-text class="text">Mit Google anmelden</ion-text>
      </ion-card>
    </ion-row>

    <ion-row class="row">
      <ion-text class="text1">Noch kein Account?</ion-text>
      <ion-text (click)="go2()" class="text2">Hier Registrieren</ion-text>
    </ion-row>

    <div class="footerbg">
  
    </div>

    <!-- <ion-footer>
      <ion-toolbar>
        <img src="../../../assets/bg-bottom.svg">
      </ion-toolbar>
    </ion-footer> -->

    <!-- <div class="footerbg">
 
      <ion-row class="row1">Noch kein Account?</ion-row>
      <ion-row class="row2" (click)="go2()">Hier Registrieren</ion-row>
  
  </div> -->
    <!-- <div style=" display: flex;
    align-items: center;
    justify-content: center;">
 <div class="footerbg">
      
  <div class="centered" style="text-align: center;">
    <p class="row1">Noch kein Account?</p>
    <a class="row2" style="color: #C5DCDD;" (click)="go2()">Hier Registrieren</a>
  </div>

</div>

    </div> -->
   
  
</ion-content>
