<ion-content>

  <ion-row class="background">
    <ion-col size="2">
   
     
          <img (click)="return1()" style="padding-top: 60%;" src="../../../assets/backerfassen.svg">
          
    
    
    </ion-col>
    <ion-col size="10" style="top: 5px;">
      <div >
        <p class="header">Erfassen: Standnummer</p>
      </div>
    </ion-col>
  </ion-row>
  <ion-row style="margin-top: 45%;">
    <ion-col class="col">
      <div>
        <p class="tag">Lorem Ipsum</p>
      </div>
    </ion-col>
  </ion-row>
  <ion-row style="margin-top: 20px;">
    <ion-col size="3">
    </ion-col>
    <ion-col size="6" class="col">
      <div>
        <ion-label position="stacked">HALLE</ion-label>
        <ion-input style="  --placeholder-color:#007072;" placeholder="Halle eingeben"></ion-input>
      </div>
    </ion-col>
    <ion-col size="3">
    </ion-col>
  </ion-row>
  <ion-row style="margin-top: 15px;">
    <ion-col size="3">
    </ion-col>
    <ion-col size="6" class="col">
      <div>
        <ion-label position="stacked">GANG</ion-label>
        <ion-input placeholder="Gang eingeben"></ion-input>
      </div>
    </ion-col>
    <ion-col size="3">
    </ion-col>
  </ion-row>
  <ion-row style="margin-top: 15px;">
    <ion-col size="3">
    </ion-col>
    <ion-col size="6" class="col">
      <div>
        <ion-label position="stacked">AUSSTELLER</ion-label>
        <ion-input placeholder="Aussteller eingeben"></ion-input>
      </div>
    </ion-col>
    <ion-col size="3">
    </ion-col>
  </ion-row>
  <ion-row style="margin-top: 15%;">
    <ion-col style="text-align: center;">
      <div>
        <ion-button (click)="goToKatalog()" routerDirection="root" class="submit" fill="outline" shape="round">
          SENDEN
          <img style="margin-left: 12%;" src="../../../assets/anfragenarrow.png">
        </ion-button>        
      </div>
    </ion-col>
  </ion-row>
</ion-content>
