<ion-content [fullscreen]="true">


  <h2 class="login">LOG-IN</h2>

  <div class="loginform">
    <form name="login" action="index_submit" method="get" accept-charset="utf-8">
      <ul>
        <li>
          <label for="usermail">E-MAIL</label>
          <input type="e-mail" name="usermail" placeholder="" required>
        </li>
        <li>
          <label for="pwd">PASSWORT</label>
          <input type="pwd" name="password" placeholder="" required>
        </li>
        <li>
          <ion-button text-align="center" shape="round" fill="outline" (click)="navigateToAnyPage()">Registrieren</ion-button>
        </li>
      </ul>
    </form>
  </div>

  <div class="NoAccount">
    <p>Noch kein Account?</p>
    <a href="">Hier Registrieren</a>
  </div>


</ion-content>
