#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

.loginform {
  margin-top: 210px;
  margin-right: 60px;
  margin-left: 0;
}

.loginform input {
  border-top-style: hidden;
  border-left-style: hidden;
  border-right-style: hidden;
  font-weight: bold;
  border-color: #09143c;
  border-width: thin;
  fill: #f2f2f2;
}


.loginform input {
  width: 300px;
  height: 40px;
  background-color: #fffff0;
}

.loginform label {
  color: black;
}

.loginform ul li {
  list-style: none;
  margin: 10px 0;
}


.NoAccount {
  margin-top: 170px;
  margin-bottom: 20px;
  text-align: center;
}

.login {
  text-align: center;
  margin-top: 60px;
  font-family: Arial, Helvetica, sans-serif;
  margin: o auto;
}