<ion-content>
 
    <ion-row class="background" style="padding: 7%;">
      <ion-col style="top: 5px;" size="2">
         
           <img style="padding-top: 15px;" src="../../../assets/backerfassen.svg">
        
      </ion-col>
      <ion-col size="10" style="display: flex;">
       
          <p class="header">Erfassen</p>
     
      </ion-col> 
    </ion-row>
    <ion-row style="margin-top: 50%;">
      <ion-col style="text-align: center; font-size: 23px; "> 
        <p style="color: #112142;">Bitte wählen</p>
      </ion-col>
    </ion-row>
    <ion-row style="margin-top: 15%;justify-content: center;">
    
      
        <div id="box" style="padding-left: 5%;">
          <ion-button style="width: 70%;height: 65px;letter-spacing: 5px;" (click)="goToerfassen2()" shape="round" fill="outline">BESUCHER</ion-button>
            <div id="object" style="left: 38%;">
            <img src="/../../assets/user-1.png">
          </div>
        </div>
     
    </ion-row>
    <ion-row style="margin-top: 5%;">
      <ion-col>
        <div style="text-align: center; font-size: 15px; color: #444D4D; height: 10px;">
          oder
        </div>
      </ion-col>
    </ion-row>
    <ion-row style="margin-top: 15%;justify-content: center;">
      <div id="box" style="padding-left: 5%;">
        <ion-button style="width: 70%;height: 65px;letter-spacing: 5px;" (click)="goAussteller()" shape="round" fill="outline">AUSSTELLER</ion-button>
          <div id="object" style="left: 38%;">
          <img src="../../../assets/austellericon.svg">
        </div>
      </div>
      
    </ion-row>
  
</ion-content>


