<ion-content>

 
    <ion-row class="background">
      <ion-col style="padding-top: 8%;" size="2" (click)="return()">
        <div class="headerSheet" style="">
        
            <!-- <ion-icon slot="icon-only" size="large" color="light" name="arrow-back-outline" (click)="return()"></ion-icon>
       -->
       <img src="../../assets//return.svg">
        </div>
      </ion-col> 
      <ion-col size="8">
        <div style="margin-top: 10%;">
          <a class="header" style="font-size: 18px;color: #FFFFFF;">Produkt hinzufügen</a>
        </div>
      </ion-col>
    </ion-row> 
    <ion-row style="margin-top: 40%;padding-left: 10%;
    padding-right: 10%;">
      <ion-col>
        <div id="input">
          <ion-label stacked>NAME</ion-label>
          <ion-input style="  --placeholder-color:#007072;" placeholder="Produktname eingeben"></ion-input>
        </div>
      </ion-col>
    </ion-row>
    <ion-row style="margin-top: 10px;padding-left: 10%;
    padding-right: 10%;">
      <ion-col>
        <div id="input">
          <ion-label stacked>ARTIKEL NR.</ion-label>
          <ion-input placeholder="Artikel Nummer eingeben"></ion-input>
        </div>
      </ion-col>
    </ion-row>
    <ion-row style="text-align: center; margin-top: 15%;">
      <ion-col>
        <div id="button1">
          <div id="object1">
            <p>FOTOGRAFIEREN</p>
            <div id="image1">
              <img src="/../../assets/Icon feather-camera.png">
            </div>
          </div>
        </div>
      </ion-col>
    </ion-row>
    <ion-row style="text-align: center; margin-top: 10%;">
      <ion-col>
        <div id="button">
          <div id="object">
            <p (click)="goTextnote()">TEXT<br>EINGEBEN</p>
            <div id="image">
              <img src="/../../assets/Icon feather-edit-3.png">
            </div>
          </div>
        </div>
      </ion-col>
    </ion-row>
    <ion-row style="text-align: center; margin-top: 10%;">
      <ion-col>
        <div  id="button">
        <div id="object">
            <p (click)="goAudionote()">SPRACHNACHRICHT<br>AUFNEHMEN</p>
            <div id="image1">
              <img src="/../../assets/mic.png">
            </div>
          </div>
        </div> 
      </ion-col>
    </ion-row>
    <ion-row  style="text-align: center; margin-top: 5%;">
      <ion-col>
        <ion-button routerLink="/katalog" routerDirection="root"  id="submit" style="width: 60%;" shape="round" fill="outline">SPEICHERN</ion-button>
      </ion-col>
      </ion-row>
   
</ion-content>
