<ion-content overflow-scroll="true">




<div class="background-top">
  <ion-row class="topHeader">
    <ion-col size="3" style="    display: flex;
    justify-content: center;">
    <img style="width: 85%;" src="../../../assets/homeleftlogo.svg">
   
    </ion-col>
    <ion-col size="7">
      <ion-text style="font-size:18px;" color="light">Frankfurter Buchmesse</ion-text>
    
    </ion-col>
<ion-col size="2">
  <img src="../../../assets/homerightlogo.svg">
</ion-col>
   
  </ion-row>
</div>
  


  <div style="margin-top: 20%;background: white;">
    <img style="" src="../../../assets/homeImage.png">
  </div>

  <div class="ausDiv">
    <ion-text style="font-size: 23px;color: #444D4D;">Aussteller</ion-text>
    <img (click)="austeller()" src="../../assets/images2/newarrow.svg">
  </div>
  
    <ion-slides style="background: white;padding-bottom: 3%;"  pager="false" [options]="slideOpts">
      <ion-slide>
        <ion-card>
          <ion-row>
            <img src="../../assets/images2/2.png">
          </ion-row>
          <ion-row>
            <ion-text style="font-size: 12px;color: #444D4D;margin-top: 10px;">Bastei Lübbe</ion-text>
          </ion-row>
        </ion-card>
      </ion-slide>
      <ion-slide>
        <ion-card>
          <ion-row>
            <img src="../../assets/images2/3.png">
          </ion-row>
          <ion-row>
            <ion-text style="font-size: 12px;color: #444D4D;margin-top: 10px;">Lorem Ipsum</ion-text>
          </ion-row>
        </ion-card>
      </ion-slide>
      <ion-slide>
        <ion-card>
          <ion-row>
            <img src="../../assets/images2/3.png">
          </ion-row>
          <ion-row>
            <ion-text style="font-size: 12px;color: #444D4D;margin-top: 10px;">Lorem Ipsum</ion-text>
          </ion-row>
        </ion-card>
      </ion-slide>
    </ion-slides>
  

  <div class="helanDiv">
    <ion-col size="8" style="display: flex;justify-content: space-evenly;padding-top: 0px;padding-right: 30px;">
      <img src="../../assets/images2/4.png">
      <ion-text style="font-size: 23px;color: #444D4D;">Hallenplan</ion-text>
    </ion-col>
    <ion-col size="4" style="display: flex;
    justify-content: flex-end;
    padding-top: 0px;padding-right: 10px;">
      <img src="../../assets/images2/newarrow.svg">
    </ion-col>
  </div>
  <div class="programmDiv">
    <ion-row style="display: flex;
    justify-content: space-between;
    ">
      <ion-text style="font-size: 23px;color: #444D4D;">Programm</ion-text>
      <img src="../../assets/images2/newarrow.svg">
    </ion-row>

    <ion-row style="margin-top: 10px;display: flex;align-items: center;">
      <ion-col size="1">
<img src="../../assets/calendar.svg">
      </ion-col>
      <ion-col style="font-size: 13px;text-align: center;color: #444D4D;" size="4"> 
        10:00 - 11:30
      </ion-col>
      <ion-col size="3" style="font-size: 12px;color: #444D4D;">
        Lorem Ipsum
      </ion-col>
      <ion-col size="4" style="font-size: 13px;display: flex;
      justify-content: center;">
        <ion-button shape="round" size="small" fill="outline">Halle 5</ion-button>
      </ion-col>
    </ion-row>

    <ion-row style="margin-top: 10px;display: flex;align-items: center;">
      <ion-col size="1">
<img src="../../assets/calendar.svg">
      </ion-col>
      <ion-col style="font-size: 13px;text-align: center;color: #444D4D;" size="4"> 
        10:00 - 11:30
      </ion-col>
      <ion-col size="3" style="font-size: 12px;color: #444D4D;">
        Lorem Ipsum
      </ion-col>
      <ion-col size="4" style="font-size: 13px;display: flex;
      justify-content: center;">
        <ion-button shape="round" size="small" fill="outline">Halle 7</ion-button>
      </ion-col>
    </ion-row>
   
  </div>


</ion-content>



