<ion-content>
 
  <ion-row class="background">
   
    <ion-col style="" size="2">
       
         <img style="padding-top: 40%;" src="../../../assets/backerfassen.svg">
      
    </ion-col>
    <ion-col size="10" style="">
     
        <p class="header">Erfassen</p>
   
    </ion-col> 
  </ion-row>

    <ion-row style="margin-top: 150px;">
      <ion-col size="1">

      </ion-col>
      <ion-col size="9" style=""> 
      <ion-text style="color: #444D4D;
      font-size: 15px;
      ">
        Lorem ipsum dolor sit amet,
        consetetur sadipscing elitr, sed.
      
      </ion-text>
      </ion-col>
      <ion-col size="2" style="display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;">
      <ion-icon style="color: #C6B8A0" size="large" name="information-circle-outline"></ion-icon>
      </ion-col>
    </ion-row>
    <ion-row style="margin-top: 25%;" (click)="openCamera()">
      <ion-col size="1">
      </ion-col>
      <ion-col size="10">
        <div id="box">
          <ion-button shape="round" fill="outline">VISITENKARTE<br>FOTOGRAFIEREN</ion-button>
            <div id="object">
            <img src="/../../assets/Icon feather-camera.png">
          </div>
        </div>
      </ion-col>
      <ion-col size="1">
      </ion-col>
    </ion-row>
    <ion-row style="margin-top: 5px;">
      <ion-col>
        <div style="text-align: center; font-size: 15px; color: #444D4D;">
          oder
        </div>
      </ion-col>
    </ion-row>
    <ion-row style="margin-top: 5%;">
      <ion-col size="1">
      </ion-col>
      <ion-col size="10">
        <div id="box">
     
            <ion-button shape="round" fill="outline">
              <img src="../../../assets/nrinside.svg">
           

            </ion-button>
    
        
        
          <div id="sentence">
            <p>AUSSTELLER EINGEBEN</p>
          </div>
        </div>
      </ion-col>
      <ion-col size="1">
      </ion-col>
    </ion-row>
 
</ion-content>


