ion-grid p {
    font-family: Arial, Helvetica, sans-serif;
    color: white;;
}

.background{
    background-image: url(/../../assets/BG-Iconic_final/messeauswahl-top@1x.png);
   // height: 20%;
    width: 100%;
    font-family:"WorkSans-Medium";
    z-index: 10;
    position: absolute;
    height: 25%;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 5%;
  }



.background .returnButton {
    width: 70%;
    color: #7BB0B1;
    height: 35px;
    --ion-color-primary: transparent;
    padding-bottom: 5%;
}

.header {
    color: white;
    font-size: 15px;
    text-align: left;
    font-family: "WorkSans-Medium";
   
}

.header ion-icon {
    text-align: right;
}

ion-button {
    width: 80%;
    height: 80px;
    font-size: 16;
    letter-spacing: 2px;
    --ion-color-primary: #007072;
    color: #007072;
    --border-width: medium;
    position: absolute;
    height: 80px !important;
    letter-spacing: 3px !important;
}

#box {
    width: 80%;
    height: 100px; 
}

#box ion-button {
    width: 100%;
    position: absolute;
   
}

#box #object {
    width: 40px;
    height: 25px;
    position: relative;
    text-align: center;
    top: -10px;
    left: 55%;
    --background-color: whitesmoke;
    background-color: whitesmoke;
}

.oder {
    color: #444D4D;
    text-align: center;
    font-size: 15px;
    --ion-color-primary: #444D4D;
}

#box #sentence {
    font-size: 13px;
    width: 75%;
    height: 25px;
    position: relative;
    text-align: center;
    top: -5px;
    left: 27%;  
    --ion-color-primary: #007072;
    background-color: whitesmoke;
}

#box #sentence p {
    color: #007072;
    --ion-color-primary: #007072;
}
