ion-text{
    font-size: 12px;
    font-family: "workSans-medium";
    color: #007072;
   
}

#footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}

ion-col{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}