

<div class="footer">
<ion-row style="    padding-top: 7%;">
  <ion-col (click)="dismiss('messe')">
<img src="../../assets/messeausicon.svg">
<ion-text style="margin-top: 20px;">Messe Auswahl</ion-text>
  </ion-col>
  <ion-col (click)="dismiss('profil')">
    <img src="../../assets/profilicon.svg">
    <ion-text style="margin-top: 25px;">Profil</ion-text>
  </ion-col>
</ion-row>
<ion-row style="margin-top: 20px;">
  <ion-col (click)="dismiss('einstel')">
    <img src="../../assets/settingsicon.svg">
    <ion-text style="margin-top: 20px;">Einstellungen</ion-text>
  </ion-col>
  <ion-col (click)="dismiss('logout')">
    <img src="../../assets/logouticon.svg">
    <ion-text style="margin-top: 30px;">Logout</ion-text>
  </ion-col>
</ion-row>

<ion-row style="margin-top: 12%;
display: flex;
flex-direction: row-reverse;
padding-right: 20px;" (click)="dismiss()">
  <img src="../../assets/closeBtn.svg">
</ion-row>
</div>
