ion-content {
    background-color: whitesmoke;
}


.background{
    background-image: url(/../../assets/BG-Iconic_final/messeauswahl-top@1x.png);
   // height: 20%;
    width: 100%;
    font-family:"WorkSans-Medium";
    z-index: 10;
    position: absolute;
    height: 25%;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 5%;
  }


.background .headerSheet .newDoc{
    --border-color: transparent;
    --ion-color-primary: white;
}

.background .headerSheet .submit{
    width: 70%;
    height: auto;
    --border-color: transparent;
    --ion-color-primary: white;
    background-color: transparent;
}
 
.background .headerSheet {
    background-color: transparent;
}

ion-textarea{
    padding: 2% !important;
    --placeholder-color: #B4B3B3 !important;
}

.background .rightCol {
    text-align: center;
}

.word {
    font-size: 18;
    color: white;
    letter-spacing: 2px;
    margin-top: 5%;
}

.input {
    padding-right: 3%;
    padding-left: 3%;
    letter-spacing: 2px;
}

.ion-input {
    border-bottom: 1px solid #112142;
}

.aboveBox {
    padding-left: 3%;
    color: #112142;
    letter-spacing: 2px;
}
ion-item {
    border: none;
    padding-left: 3%;
    padding-right: 3%;
}

ion-textarea {
    fill: white;
    background-color: white;
}

ion-label {
    letter-spacing: 2px;
    color: #112142;
}

.save {
    --border-width: 2px;
    --border-color: #907F63;
    letter-spacing: 2px;
    color: #907F63;
    font-size: 16px;
    width: 68%;
    height: 50px !important;
}

.break {
    color: #444D4D;
    font-size: 13px;
    --border-color: transparent;
    letter-spacing: 2px;
}

.header {
    font-size: 18px;
    text-align: bottom left;
    padding-left: 8%;
    color: white;
    letter-spacing: 2px;
}

.textarea {
    
    margin-right: 8%;

}

.textarea ion-label {
    text-align: left;
   
}

.textarea ion-textarea {
    left: 5%;
    margin-top: 4%;
}

.submit ion-button {
    --border-color: transparent;
    --ion-color-primary: white;
    margin-right: 5%;
}