<ion-content>

 
 

    <ion-row class="background">
      <ion-col style="display: flex;
      flex-direction: column;
      align-items: flex-end;top: 18px;" size="2" >
      
          <img src="../../../assets/recordingHeaderright.svg">
          
         
      </ion-col>
      <ion-col size="8" style="display: flex;
      flex-direction: column;
      align-items: flex-start;top: 15px;padding-left: 4%;">
      
          <ion-text (click)="go()" style="font-size: 18px;color: white;margin-top: 5px;font-weight: bold;">Textnotiz hinzufügen</ion-text>
      
      </ion-col>

      <ion-col class="rightCol" style="display: flex;
      flex-direction: column;
      align-items: center;top: 18px;" size="2">
        <ion-icon name="checkmark-outline" size="large" color="light"></ion-icon>
      </ion-col>



    </ion-row>
    <ion-row style="margin-top: 45%;padding-left: 3%;">
      <ion-col>
        <ion-form> 
          <div class="input">
          <ion-label position="stacked">TITEL</ion-label>
          <ion-input style="--placeholder-color: #D1C5B0;" class="ion-input" [(ngModel)]="title" placeholder="Titel eingeben"></ion-input>
          </div>
        </ion-form>
      </ion-col>
    </ion-row>
    <ion-row style="margin-top: 10%;">
      <ion-col>
        <ion-label style="font-size: 13px;margin-left:22px" position="floating">IHRE NOTIZ</ion-label>
        <div class="textarea">
          
          <ion-textarea style="padding-left: 5px;--placeholder-color: #B4B3B3;font-size:18px;" rows="14" cols="12" [(ngModel)]="description" placeholder="Hier schreiben..."></ion-textarea>
        </div>
      </ion-col>
    </ion-row>
    <ion-row style="margin-top: 10%;">
      <ion-col style="text-align: center;">
        <div (click)="add()">
          <ion-button class="save" fill="outline" shape="round">
            SPEICHERN
            <img style="margin-left: 12%;" src="../../../assets/anfragenarrow.png">
          </ion-button>
        </div>
      </ion-col>
    </ion-row>
    <ion-row style="margin-top: 3%;padding-bottom: 15%;">
      <ion-col style="text-align: center;">
        <div>
          <ion-button class="break" fill="outline" (click)="return()">ABBRECHEN</ion-button>
        </div>
      </ion-col>
    </ion-row>


</ion-content>
