ion-content {
    background-color: whitesmoke;
    letter-spacing: 2px;
}

.background{
    background-image: url(/../../assets/BG-Iconic_final/messeauswahl-top@1x.png);
   // height: 20%;
    width: 100%;
    font-family:"WorkSans-Medium";
    z-index: 10;
    position: absolute;
    height: 25%;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 5%;
  }

.background .headerSheet .newDoc{
    --border-color: transparent;
    --ion-color-primary: #7BB0B1;
    margin-top: 15px;
}

.background .headerSheet .submit{
    width: 70%;
    height: auto;
    --border-color: transparent;
    --ion-color-primary: white;
    background-color: transparent;
}

.background .headerSheet {
    background-color: transparent;
}

.background .rightCol {
    text-align: center;
}

.word {
    font-size: 18;
    color: white;
    letter-spacing: 2px;
    margin-top: 5%;
}

.aboveBox {
    padding-left: 3%;
    color: #112142;
    letter-spacing: 2px;
}
ion-item {
    border: none;
    padding-left: 3%;
    padding-right: 3%;
}

ion-textarea {
    fill: white;
    background-color: white;
}

ion-label {
    letter-spacing: 2px;
    color: #112142;
}

.save {
    --border-width: 2px;
    --border-color: #907F63;
    letter-spacing: 2px;
    color: #907F63;
    font-size: 16px;
    width: 60%;

}

.header {
    font-size: 18;
    text-align: bottom left;
    padding-left: 8%;
    color: whitesmoke;
    letter-spacing: 2px;
    font-family: "WorkSans-medium";
}

ion-label{
    padding:5%;
}

.text {
    color: #003031;
    font-size: 15px;
    margin-left: 5%
}

.textarea {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5%;
}

.textarea ion-textarea {
    border: 1px solid #444D4D;
   width: 90%;
   padding-left: 5%;
}