.background{
    background-image: url(/../../assets/BG-Iconic_final/messeauswahl-top@1x.png);
   // height: 20%;
    width: 100%;
    font-family:"WorkSans-Medium";
    z-index: 10;
    position: absolute;
    height: 25%;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 5%;
  }



ion-content {
    letter-spacing: 2px;
}

.ipsumContainer {
    margin-left: 3%;
    margin-right: 3%;
    border-bottom: 1px solid #FFFFFF;
}

p{
    font-weight: bold;
    font-family: "Work-Sans-Medium";
}


.ipsumContainer img {
    // width: 75%;
    // height: 75%;
}

.lübbeContainer {
    margin-right: 3%;
    margin-left: 3%;
    border-bottom: 1px solid #FFFFFF;
}

.lübbeContainer .arrowButton {
    text-align: right;
}

.ipsumContainer .arrowButton {
    text-align: right;
}


.lübbeContainer ion-button {
    --ion-color-primary: transparent;
    color: #007072;
}

.ipsumContainer ion-button {
    --ion-color-primary: transparent;
    color: #007072; 
}

.exhibRow .ipsumContainer .p1 {
    color: #444D4D;
    font-size: 14px;
    padding-top: 0;
}

.exhibRow .ipsumContainer .p2 {
    color: #444D4D;
    font-size: 14p;
    padding-top: 0;
}

.exhibRow .ipsumContainer .p3 {
    color: #B4B3B3;
    font-size: 13px;
    padding-top: 0;
}

.exhibRow .ipsumContainer .LoremRow {
    padding-top: 0px;
}

ion-content {
    --background: #F5F5F5;
}

.exhibRow {
    margin-top: 1%;
    color: #444D4D;
    width: 100%;
}

.exhibRowHeader {
    margin-top: 2%;
}

.selection {
    font-size: 11px;
}

ion-searchbar {
    border-bottom: 1px solid #112142;
    width: 94%;
    margin-left: 3%;
    margin-right: 3%;
}

.title {
    font-size: 23px;
    color: #112142;
}

.selection .Box {
    border-style: 1px solid #444D4D;
}