<ion-content>


  
    

    <ion-row class="background">
      <ion-col style="text-align: right" size="2">
        <div class="headerSheet" style="margin-top: 35%;">
          <!-- <ion-icon color="light" size="large" slot="icon-only" name="list-outline"></ion-icon> -->
          <img src="../../assets/hamburger.svg">
      
        </div>
      </ion-col> 
      <ion-col size="8">
        <div style="margin-top: 9%;
        margin-left: 7%;">
          <a class="header" style="font-size: 18px;color: #FFFFFF;">Aussteller 1</a>
        </div>
      </ion-col>
    </ion-row> 
    <ion-row style="margin-top: 40%;">
      <ion-col style="display: flex;
      flex-direction: row;
      justify-content: center;">
        <!-- <div style="background: #F5F5F5;">
          <ion-searchbar placeholder="Produkt / Aussteller"></ion-searchbar>
        </div> -->
        <div style="display: flex;
        flex-direction: row;
        align-items: center;
        width: 95%;
        border-bottom: 1px solid #707070;">
          <ion-input style="--placeholder-font-weight: bold;--placeholder-color: #B4B3B3;" placeholder="Produkt / Aussteller" type="text"></ion-input>
          <ion-icon style="color: black;font-size: 20px;" name="search-outline"></ion-icon>
        </div>
      </ion-col>
    </ion-row>
    <ion-row class="selection">
      <ion-col (click)="Alle()" size="3" style="display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;">
      <div *ngIf="alle" style="border: 1px solid;
      width: 80%;
      text-align: center;height: 80%;
    justify-content: center;
    display: flex;
    align-items: center;">
        <p style="">ALLE</p>
      </div>

      <div *ngIf="!alle">
        <p style="">ALLE</p>
      </div>
        
    
      </ion-col>
      <ion-col (click)="Besucht()" size="3" style="display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;">

      <div *ngIf="besucht" style="border: 1px solid;
      width: 100%;
      text-align: center;height: 80%;
      justify-content: center;
      display: flex;
      align-items: center;">
        <p style="">BESUCHT</p>
      </div>
      
      <div *ngIf="!besucht">
        <p>BESUCHT</p>
      </div>
        
     
    

      </ion-col>
      <ion-col (click)="NochmalHingehen()" size="6" style="display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;">

        <div *ngIf="nochmalHingehen" style="border: 1px solid;
        width: 100%;
        text-align: center;height: 80%;
        justify-content: center;
        display: flex;
        align-items: center;">
          <p style="">NOCHMAL HINGEHEN</p>
        </div>

        <div *ngIf="!nochmalHingehen">
          <p>NOCHMAL HINGEHEN</p>
        </div>
      
      </ion-col>
    </ion-row>
      <ion-row class="exhibRowHeader">
        <ion-col>
          <div class="title">
            <p style="margin-left: 3%;">Aussteller</p>
          </div>
        </ion-col>
      </ion-row>

      <div style="padding-bottom: 20%;" *ngIf="alle">
        <ion-row class="exhibRow">
          <ion-col>
            <div class="lübbeContainer">
              <ion-row>
                <ion-col size="3">
                  <div>
                    <img src="../../assets/austeller-logo.svg">
                  </div>
                </ion-col>
                <ion-col size="6">
                  <div style="text-align: left;">
                    <p>Bastei Lübbe</p>
                  </div>
                </ion-col>
                <ion-col size="3" style="display: flex;
                flex-direction: row;
                justify-content: flex-end;
                align-items: center;">
                  <!-- <div class="arrowButton">
                    <ion-button> -->
                      <ion-icon style="font-size: 25px;color: #007072;" 
                      name="arrow-forward-outline"></ion-icon>
                    <!-- </ion-button>
                  </div> -->
                </ion-col>
              </ion-row>
            </div>
          </ion-col>
        </ion-row>
        <ion-row class="exhibRow">
          <ion-col>
            <div class="lübbeContainer">
              <ion-row>
                <ion-col size="3">
                  <div>
                    <img src="../../assets/austeller-logo.svg">
                  </div>
                </ion-col>
                <ion-col size="6">
                  <div style="text-align: left;">
                    <p>Bastei Lübbe</p>
                  </div>
                </ion-col>
                <!-- <ion-col size="3">
                  <div class="arrowButton">
                    <ion-button>
                      <ion-icon slot="icon-only" name="arrow-forward-outline"></ion-icon>
                    </ion-button>
                  </div>
                </ion-col> -->
                <ion-col size="3" style="display: flex;
                flex-direction: row;
                justify-content: flex-end;
                align-items: center;">
                  <!-- <div class="arrowButton">
                    <ion-button> -->
                      <ion-icon style="font-size: 25px;color: #007072;" 
                      name="arrow-forward-outline"></ion-icon>
                    <!-- </ion-button>
                  </div> -->
                </ion-col>
              </ion-row>
            </div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <div class="lübbeContainer">
              <ion-row>
                <ion-col size="3">
                  <div>
                    <img src="../../assets/austeller-logo.svg">
                  </div>
                </ion-col>
                <ion-col size="6">
                  <div style="text-align: left;">
                    <p>Bastei Lübbe</p>
                  </div>
                </ion-col>
                <!-- <ion-col size="3">
                  <div class="arrowButton">
                    <ion-button>
                      <ion-icon slot="icon-only" name="arrow-forward-outline"></ion-icon>
                    </ion-button>
                  </div>
                </ion-col> -->
                <ion-col size="3" style="display: flex;
                flex-direction: row;
                justify-content: flex-end;
                align-items: center;">
                  <!-- <div class="arrowButton">
                    <ion-button> -->
                      <ion-icon style="font-size: 25px;color: #007072;" 
                      name="arrow-forward-outline"></ion-icon>
                    <!-- </ion-button>
                  </div> -->
                </ion-col>
              </ion-row>
            </div>
          </ion-col>
        </ion-row>
        <ion-row class="exhibRow">
          <ion-col>
            <div class="ipsumContainer">
              <ion-row>
                <ion-col size="3" style="display: flex;
                flex-direction: column;
                justify-content: center;">
                  <div>
                    <img src="/../../assets/pdficon.svg">
                  </div>
                </ion-col>
                <ion-col size="6">
                  <div style="text-align: left;">
                    <!-- <ion-row class="LoremRow">
                      <p class="p1">Lorem Ipsum</p>
                    </ion-row>
                    <ion-row class="LoremRow">
                      <p class="p2"><b>Lorem Ipsum...</b></p>
                    </ion-row>
                    <ion-row class="LoremRow">
                      <p class="p3">Lorem</p>
                    </ion-row> -->
                    <p>
                      Lorem Ipsum<br>
                      <b>Lorem Ipsum...</b><br>
                      Lorem Ipsum<br>
                    </p> 
                  </div>
                </ion-col>
                <!-- <ion-col size="3">
                  <div class="arrowButton">
                    <ion-button>
                      <ion-icon slot="icon-only" name="arrow-forward-outline"></ion-icon>
                    </ion-button>
                  </div>
                </ion-col> -->
                <ion-col size="3" style="display: flex;
                flex-direction: row;
                justify-content: flex-end;
                align-items: center;">
                  <!-- <div class="arrowButton">
                    <ion-button> -->
                      <ion-icon style="font-size: 25px;color: #007072;" 
                      name="arrow-forward-outline"></ion-icon>
                    <!-- </ion-button>
                  </div> -->
                </ion-col>
              </ion-row>
            </div>
          </ion-col>
        </ion-row>
        <ion-row class="exhibRow">
          <ion-col>
            <div class="lübbeContainer">
              <ion-row>
                <ion-col size="3">
                  <div>
                    <img src="../../assets/austeller-logo.svg">
                  </div>
                </ion-col>
                <ion-col size="6">
                  <div style="text-align: left;">
                    <p>Bastei Lübbe</p>
                  </div>
                </ion-col>
                <!-- <ion-col size="3">
                  <div class="arrowButton">
                    <ion-button>
                      <ion-icon slot="icon-only" name="arrow-forward-outline"></ion-icon>
                    </ion-button>
                  </div>
                </ion-col> -->
                <ion-col size="3" style="display: flex;
                flex-direction: row;
                justify-content: flex-end;
                align-items: center;">
                  <!-- <div class="arrowButton">
                    <ion-button> -->
                      <ion-icon style="font-size: 25px;color: #007072;" 
                      name="arrow-forward-outline"></ion-icon>
                    <!-- </ion-button>
                  </div> -->
                </ion-col>
              </ion-row>
            </div>
          </ion-col>
        </ion-row>
        <ion-row class="exhibRow">
          <ion-col>
            <div class="ipsumContainer">
              <ion-row style="margin-bottom: 20%;">
                <ion-col size="3" style="display: flex;
                flex-direction: column;
                justify-content: center;">
                  <div>
                    <img src="/../../assets/pdficon.svg">
                  </div>
                </ion-col>
                <ion-col size="6">
                  <div style="text-align: left;">
                    <p>
                      Lorem Ipsum<br>
                      <b>Lorem Ipsum...</b><br>
                      Lorem Ipsum<br>
                    </p> 
                  </div>
                </ion-col>
                <!-- <ion-col size="3">
                  <div class="arrowButton">
                    <ion-button>
                      <ion-icon slot="icon-only" name="arrow-forward-outline"></ion-icon>
                    </ion-button>
                  </div>
                </ion-col> -->
                <ion-col size="3" style="display: flex;
                flex-direction: row;
                justify-content: flex-end;
                align-items: center;">
                  <!-- <div class="arrowButton">
                    <ion-button> -->
                      <ion-icon style="font-size: 25px;color: #007072;" 
                      name="arrow-forward-outline"></ion-icon>
                    <!-- </ion-button>
                  </div> -->
                </ion-col>
              </ion-row>
            </div>
          </ion-col>
        </ion-row>
    
        <ion-row>
          <ion-col>
            <div class="lübbeContainer">
              <ion-row>
                <ion-col size="3">
                  <div>
                    <img src="../../assets/austeller-logo.svg">
                  </div>
                </ion-col>
                <ion-col size="6">
                  <div style="text-align: left;">
                    <p>Bastei Lübbe</p>
                  </div>
                </ion-col>
                <!-- <ion-col size="3">
                  <div class="arrowButton">
                    <ion-button>
                      <ion-icon slot="icon-only" name="arrow-forward-outline"></ion-icon>
                    </ion-button>
                  </div>
                </ion-col> -->
                <ion-col size="3" style="display: flex;
                flex-direction: row;
                justify-content: flex-end;
                align-items: center;">
                  <!-- <div class="arrowButton">
                    <ion-button> -->
                      <ion-icon style="font-size: 25px;color: #007072;" 
                      name="arrow-forward-outline"></ion-icon>
                    <!-- </ion-button>
                  </div> -->
                </ion-col>
              </ion-row>
            </div>
          </ion-col>
        </ion-row>
  
  
        <ion-row>
          <ion-col>
            <div class="lübbeContainer">
              <ion-row>
                <ion-col size="3">
                  <div>
                    <img src="../../assets/austeller-logo.svg">
                  </div>
                </ion-col>
                <ion-col size="6">
                  <div style="text-align: left;">
                    <p>Bastei Lübbe</p>
                  </div>
                </ion-col>
                <!-- <ion-col size="3">
                  <div class="arrowButton">
                    <ion-button>
                      <ion-icon slot="icon-only" name="arrow-forward-outline"></ion-icon>
                    </ion-button>
                  </div>
                </ion-col> -->
                <ion-col size="3" style="display: flex;
                flex-direction: row;
                justify-content: flex-end;
                align-items: center;">
                  <!-- <div class="arrowButton">
                    <ion-button> -->
                      <ion-icon style="font-size: 25px;color: #007072;" 
                      name="arrow-forward-outline"></ion-icon>
                    <!-- </ion-button>
                  </div> -->
                </ion-col>
              </ion-row>
            </div>
          </ion-col>
        </ion-row>
  
  
        <ion-row>
          <ion-col>
            <div class="lübbeContainer">
              <ion-row>
                <ion-col size="3">
                  <div>
                    <img src="../../assets/austeller-logo.svg">
                  </div>
                </ion-col>
                <ion-col size="6">
                  <div style="text-align: left;">
                    <p>Bastei Lübbe</p>
                  </div>
                </ion-col>
                <!-- <ion-col size="3">
                  <div class="arrowButton">
                    <ion-button>
                      <ion-icon slot="icon-only" name="arrow-forward-outline"></ion-icon>
                    </ion-button>
                  </div>
                </ion-col> -->
                <ion-col size="3" style="display: flex;
                flex-direction: row;
                justify-content: flex-end;
                align-items: center;">
                  <!-- <div class="arrowButton">
                    <ion-button> -->
                      <ion-icon style="font-size: 25px;color: #007072;" 
                      name="arrow-forward-outline"></ion-icon>
                    <!-- </ion-button>
                  </div> -->
                </ion-col>
              </ion-row>
            </div>
          </ion-col>
        </ion-row>
      </div>

      <div style="padding-bottom: 20%;" *ngIf="besucht">
        <ion-row class="exhibRow">
          <ion-col>
            <div class="lübbeContainer">
              <ion-row>
                <ion-col size="3">
                  <div>
                    <img src="../../assets/austeller-logo.svg">
                  </div>
                </ion-col>
                <ion-col size="6">
                  <div style="text-align: left;">
                    <p>Bastei Lübbe</p>
                  </div>
                </ion-col>
                <ion-col size="3" style="display: flex;
                flex-direction: row;
                justify-content: flex-end;
                align-items: center;">
                  <!-- <div class="arrowButton">
                    <ion-button> -->
                      <ion-icon style="font-size: 25px;color: #007072;" 
                      name="arrow-forward-outline"></ion-icon>
                    <!-- </ion-button>
                  </div> -->
                </ion-col>
              </ion-row>
            </div>
          </ion-col>
        </ion-row>
        <ion-row class="exhibRow">
          <ion-col>
            <div class="lübbeContainer">
              <ion-row>
                <ion-col size="3">
                  <div>
                    <img src="../../assets/austeller-logo.svg">
                  </div>
                </ion-col>
                <ion-col size="6">
                  <div style="text-align: left;">
                    <p>Bastei Lübbe</p>
                  </div>
                </ion-col>
                <!-- <ion-col size="3">
                  <div class="arrowButton">
                    <ion-button>
                      <ion-icon slot="icon-only" name="arrow-forward-outline"></ion-icon>
                    </ion-button>
                  </div>
                </ion-col> -->
                <ion-col size="3" style="display: flex;
                flex-direction: row;
                justify-content: flex-end;
                align-items: center;">
                  <!-- <div class="arrowButton">
                    <ion-button> -->
                      <ion-icon style="font-size: 25px;color: #007072;" 
                      name="arrow-forward-outline"></ion-icon>
                    <!-- </ion-button>
                  </div> -->
                </ion-col>
              </ion-row>
            </div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <div class="lübbeContainer">
              <ion-row>
                <ion-col size="3">
                  <div>
                    <img src="../../assets/austeller-logo.svg">
                  </div>
                </ion-col>
                <ion-col size="6">
                  <div style="text-align: left;">
                    <p>Bastei Lübbe</p>
                  </div>
                </ion-col>
                <!-- <ion-col size="3">
                  <div class="arrowButton">
                    <ion-button>
                      <ion-icon slot="icon-only" name="arrow-forward-outline"></ion-icon>
                    </ion-button>
                  </div>
                </ion-col> -->
                <ion-col size="3" style="display: flex;
                flex-direction: row;
                justify-content: flex-end;
                align-items: center;">
                  <!-- <div class="arrowButton">
                    <ion-button> -->
                      <ion-icon style="font-size: 25px;color: #007072;" 
                      name="arrow-forward-outline"></ion-icon>
                    <!-- </ion-button>
                  </div> -->
                </ion-col>
              </ion-row>
            </div>
          </ion-col>
        </ion-row>
        <ion-row class="exhibRow">
          <ion-col>
            <div class="ipsumContainer">
              <ion-row>
                <ion-col size="3" style="display: flex;
                flex-direction: column;
                justify-content: center;">
                  <div>
                    <img src="/../../assets/pdficon.svg">
                  </div>
                </ion-col>
                <ion-col size="6">
                  <div style="text-align: left;">
                    <!-- <ion-row class="LoremRow">
                      <p class="p1">Lorem Ipsum</p>
                    </ion-row>
                    <ion-row class="LoremRow">
                      <p class="p2"><b>Lorem Ipsum...</b></p>
                    </ion-row>
                    <ion-row class="LoremRow">
                      <p class="p3">Lorem</p>
                    </ion-row> -->
                    <p>
                      Lorem Ipsum<br>
                      <b>Lorem Ipsum...</b><br>
                      Lorem Ipsum<br>
                    </p> 
                  </div>
                </ion-col>
                <!-- <ion-col size="3">
                  <div class="arrowButton">
                    <ion-button>
                      <ion-icon slot="icon-only" name="arrow-forward-outline"></ion-icon>
                    </ion-button>
                  </div>
                </ion-col> -->
                <ion-col size="3" style="display: flex;
                flex-direction: row;
                justify-content: flex-end;
                align-items: center;">
                  <!-- <div class="arrowButton">
                    <ion-button> -->
                      <ion-icon style="font-size: 25px;color: #007072;" 
                      name="arrow-forward-outline"></ion-icon>
                    <!-- </ion-button>
                  </div> -->
                </ion-col>
              </ion-row>
            </div>
          </ion-col>
        </ion-row>
        <ion-row class="exhibRow">
          <ion-col>
            <div class="lübbeContainer">
              <ion-row>
                <ion-col size="3">
                  <div>
                    <img src="../../assets/austeller-logo.svg">
                  </div>
                </ion-col>
                <ion-col size="6">
                  <div style="text-align: left;">
                    <p>Bastei Lübbe</p>
                  </div>
                </ion-col>
                <!-- <ion-col size="3">
                  <div class="arrowButton">
                    <ion-button>
                      <ion-icon slot="icon-only" name="arrow-forward-outline"></ion-icon>
                    </ion-button>
                  </div>
                </ion-col> -->
                <ion-col size="3" style="display: flex;
                flex-direction: row;
                justify-content: flex-end;
                align-items: center;">
                  <!-- <div class="arrowButton">
                    <ion-button> -->
                      <ion-icon style="font-size: 25px;color: #007072;" 
                      name="arrow-forward-outline"></ion-icon>
                    <!-- </ion-button>
                  </div> -->
                </ion-col>
              </ion-row>
            </div>
          </ion-col>
        </ion-row>
        <ion-row class="exhibRow">
          <ion-col>
            <div class="ipsumContainer">
              <ion-row style="margin-bottom: 20%;">
                <ion-col size="3" style="display: flex;
                flex-direction: column;
                justify-content: center;">
                  <div>
                    <img src="/../../assets/pdficon.svg">
                  </div>
                </ion-col>
                <ion-col size="6">
                  <div style="text-align: left;">
                    <p>
                      Lorem Ipsum<br>
                      <b>Lorem Ipsum...</b><br>
                      Lorem Ipsum<br>
                    </p> 
                  </div>
                </ion-col>
                <!-- <ion-col size="3">
                  <div class="arrowButton">
                    <ion-button>
                      <ion-icon slot="icon-only" name="arrow-forward-outline"></ion-icon>
                    </ion-button>
                  </div>
                </ion-col> -->
                <ion-col size="3" style="display: flex;
                flex-direction: row;
                justify-content: flex-end;
                align-items: center;">
                  <!-- <div class="arrowButton">
                    <ion-button> -->
                      <ion-icon style="font-size: 25px;color: #007072;" 
                      name="arrow-forward-outline"></ion-icon>
                    <!-- </ion-button>
                  </div> -->
                </ion-col>
              </ion-row>
            </div>
          </ion-col>
        </ion-row>
    
        
      </div>

      <div style="padding-bottom: 20%;" *ngIf="nochmalHingehen">
        <ion-row class="exhibRow">
          <ion-col>
            <div class="lübbeContainer">
              <ion-row>
                <ion-col size="3">
                  <div>
                    <img src="../../assets/austeller-logo.svg">
                  </div>
                </ion-col>
                <ion-col size="6">
                  <div style="text-align: left;">
                    <p>Bastei Lübbe</p>
                  </div>
                </ion-col>
                <ion-col size="3" style="display: flex;
                flex-direction: row;
                justify-content: flex-end;
                align-items: center;">
                  <!-- <div class="arrowButton">
                    <ion-button> -->
                      <ion-icon style="font-size: 25px;color: #007072;" 
                      name="arrow-forward-outline"></ion-icon>
                    <!-- </ion-button>
                  </div> -->
                </ion-col>
              </ion-row>
            </div>
          </ion-col>
        </ion-row>
        <ion-row class="exhibRow">
          <ion-col>
            <div class="lübbeContainer">
              <ion-row>
                <ion-col size="3">
                  <div>
                    <img src="../../assets/austeller-logo.svg">
                  </div>
                </ion-col>
                <ion-col size="6">
                  <div style="text-align: left;">
                    <p>Bastei Lübbe</p>
                  </div>
                </ion-col>
                <!-- <ion-col size="3">
                  <div class="arrowButton">
                    <ion-button>
                      <ion-icon slot="icon-only" name="arrow-forward-outline"></ion-icon>
                    </ion-button>
                  </div>
                </ion-col> -->
                <ion-col size="3" style="display: flex;
                flex-direction: row;
                justify-content: flex-end;
                align-items: center;">
                  <!-- <div class="arrowButton">
                    <ion-button> -->
                      <ion-icon style="font-size: 25px;color: #007072;" 
                      name="arrow-forward-outline"></ion-icon>
                    <!-- </ion-button>
                  </div> -->
                </ion-col>
              </ion-row>
            </div>
          </ion-col>
        </ion-row>
        
        
       
    
    
        
      </div>
     
  </ion-content>
  