<ion-content [fullscreen]="true">
 
 


        <ion-row class="background">
          <ion-col style="display: flex;
          flex-direction: column;
          align-items: center;top: 18px;" size="2" >
          
              <img src="../../../assets/recordingHeaderright.svg">
              
             
          </ion-col>
          <ion-col size="8" style="display: flex;
          flex-direction: column;
          align-items: flex-start;top: 15px;">
          
              <ion-text (click)="go()" style="font-size: 18px;color: white;margin-top: 5px;">Notizen</ion-text>
          
          </ion-col>
    
          <ion-col class="rightCol" style="display: flex;
          flex-direction: column;
          align-items: center;top: 18px;" size="2">
            <!-- <img style="margin-top: 5px;" src="../../../assets//recordingHeaderLeft.svg"> -->
            <ion-icon size="large" color="light" name="checkmark-outline"></ion-icon>
          </ion-col>
    
    
    
        </ion-row>

        <ion-row style="margin-top: 35%;
        padding: 20px;">
     
          <ion-input style="border-bottom: 1px solid #112142;display: flex;
          flex-direction: row-reverse;" placeholder="Suche">
            <ion-icon size="large" color="medium" name="search-outline"></ion-icon>
          </ion-input>
          
    </ion-row>  

    <ion-row style="padding: 15px;">
      <ion-col style="display: flex;
      align-items: center;">
  <img src="../../assets/images/optionicon.svg">
  <ion-text (click)="LISTENANSICHT()" style="font-size: 18px;
  color: #444D4D;margin-left: 10px;">Listenansicht</ion-text>
      </ion-col>
     
    </ion-row>

    <ion-row style="padding: 15px;display: flex;
    align-items: center;">
    <ion-col size="4">
  <ion-text style="font-size: 22px;color: #112142;">
    Notizen
  </ion-text>
    </ion-col>
    <ion-col size="8">
      <ion-col size="1.6" *ngIf="!isNotizen" (click)="showCamera()">
        <img src="../../assets/images/camicon.svg">
          </ion-col>
          <ion-col size="1.6" *ngIf="isNotizen" (click)="showNotizen()">
            <img  src="../../assets/images/camicon.svg">
              </ion-col>
          <ion-col size="1.6" (click)="showNotizen()"> 
            <img src="../../assets/images/cameraicon.svg">
          </ion-col>
          <ion-col size="1.6" (click)="showArticle()" *ngIf="!isArticle">
            <img src="../../assets/images/editfullicon.svg">
          
          </ion-col>
          <ion-col size="1.6" (click)="showArticle()" *ngIf="isArticle">
          
            <img src="../../assets/articleSelected.svg" >
          </ion-col>
          <ion-col size="1.6" (click)="showAudio()" *ngIf="!isAudio">
            <img src="../../assets/images/lasticon.svg">
          </ion-col>
          <ion-col size="1.6" (click)="showAudio()" *ngIf="isAudio">
            <img src="../../assets/selectedAudio.svg">
          </ion-col>
          <ion-col size="1.6" (click)="addNotizen()" >
            <img style="margin-bottom: 5px;" src="../../assets/images/addicon.svg">
          </ion-col>
        
          
    </ion-col>
    
  </ion-row>

  <!-- <div *ngIf="!isNotizen" style="display: flex;justify-content: center;">
    <div id="addButtonBorder" (click)="addNotizen()">
   
        <img src="../../../assets/plusMark.svg">
  
    </div>
  </div> -->
  
  <ion-row style="padding: 15px;padding-bottom: 60%;" *ngIf="isAll">
    <ion-col style="background: #C5DCDD;
    height: 140px;">
  <ion-row>
    <ion-col size="2">
  <img src="../../assets/images/editindividual.svg">
    </ion-col>
    <ion-col size="10">
      <ion-text>Titel...</ion-text>
    </ion-col>
  </ion-row>
  <ion-row style="background: white;
  margin-top: 15px;
  width: 90%;
  margin-left: 5%;">
    <ion-text style="font-size: 10px;color: #444D4D;">
      Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore 
      magna aliquyam.
    </ion-text>
  </ion-row>
  
  <ion-row>
    <div style="background: #C5DCDD;
    height: 140px;
    margin-top: 25px;
    width: 163px;">
      <ion-row style="display: flex;
      align-items: center;
      padding-left: 5px; margin-top: 5%;"> 
        <ion-col size="2">
      <img src="../../assets/images/cameraindividual.svg">
        </ion-col>
        <ion-col size="10">
          <ion-text>Titel...</ion-text>
        </ion-col>
      </ion-row>
      <ion-row style="margin-top: 15px;display: flex;
      justify-content: center;">
        <img src="../../assets/images/specaunt.svg">
      </ion-row>
    </div>
  </ion-row>


  <div style="background: #C5DCDD;
  height: 140px;margin-top: 10%;">
    <ion-row>
      <ion-col size="2">
    <img src="../../assets/images/editindividual.svg">
      </ion-col>
      <ion-col size="10">
        <ion-text>Titel...</ion-text>
      </ion-col>
    </ion-row>
    <ion-row style="background: white;
    margin-top: 15px;
    width: 90%;
    margin-left: 5%;">
      <ion-text style="font-size: 10px;color: #444D4D;">
        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore 
        magna aliquyam.
      </ion-text>
    </ion-row>
  </div>
 

  <ion-row style="background: #C5DCDD;height: 50px;display: flex;
  align-items: center;margin-top: 10%;"> 
    <ion-col size="2">
      <img src="../../assets/images/titleindividual.svg">
    </ion-col>
    <ion-col size="7">
      <ion-text>Titel...</ion-text>
    </ion-col>
    <ion-col size="3">
      <img src="../../assets/images/videoplay.svg"><br>
      <ion-text style="font-size: 7px;">2:12</ion-text>
    </ion-col>
  </ion-row>

  <ion-row>
    <div style="background: #C5DCDD;
    height: 140px;
    margin-top: 25px;
    width: 163px;">
      <ion-row style="display: flex;
      align-items: center;
      padding-left: 5px; margin-top: 5%;"> 
        <ion-col size="2">
      <img src="../../assets/images/cameraindividual.svg">
        </ion-col>
        <ion-col size="10">
          <ion-text>Titel...</ion-text>
        </ion-col>
      </ion-row>
      <ion-row style="margin-top: 15px;display: flex;
      justify-content: center;">
        <img src="../../assets/images/specaunt.svg">
      </ion-row>
    </div>
  </ion-row>

  <ion-row style="background: #C5DCDD;height: 50px;display: flex;
  align-items: center;margin-top: 10%;"> 
    <ion-col size="2">
      <img src="../../assets/images/titleindividual.svg">
    </ion-col>
    <ion-col size="7">
      <ion-text>Titel...</ion-text>
    </ion-col>
    <ion-col size="3">
      <img src="../../assets/images/videoplay.svg"><br>
      <ion-text style="font-size: 7px;">2:12</ion-text>
    </ion-col>
  </ion-row>

  <div style="background: #C5DCDD;
  height: 140px;margin-top: 10%;">
    <ion-row>
      <ion-col size="2">
    <img src="../../assets/images/editindividual.svg">
      </ion-col>
      <ion-col size="10">
        <ion-text>Titel...</ion-text>
      </ion-col>
    </ion-row>
    <ion-row style="background: white;
    margin-top: 15px;
    width: 90%;
    margin-left: 5%;">
      <ion-text style="font-size: 10px;color: #444D4D;">
        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore 
        magna aliquyam.
      </ion-text>
    </ion-row>
  </div>
  
    </ion-col>


    <ion-col style="padding-top: 0px;">
      <ion-row style="background: #C5DCDD;height: 50px;display: flex;
      align-items: center;"> 
        <ion-col size="2">
          <img src="../../assets/images/titleindividual.svg">
        </ion-col>
        <ion-col size="7">
          <ion-text>Titel...</ion-text>
        </ion-col>
        <ion-col size="3">
          <img src="../../assets/images/videoplay.svg"><br>
          <ion-text style="font-size: 7px;">2:12</ion-text>
        </ion-col>
      </ion-row>
  
      <div style="background: #C5DCDD;height: 18%;margin-top: 10%;">
        <ion-row>
          <ion-col size="2">
        <img src="../../assets/images/editindividual.svg">
          </ion-col>
          <ion-col size="10">
            <ion-text>Titel...</ion-text>
          </ion-col>
        </ion-row>
        <ion-row style="   background: white;
        margin-top: 15px;
        width: 90%;
        margin-left: 5%;">
         
            <ion-text style="font-size: 10px;color: #444D4D;">
              Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore 
              magna aliquyam.
            </ion-text>
         
          
        </ion-row>
      </div>


      <ion-row>
        <div style="background: #C5DCDD;
        height: 140px;
        margin-top: 10%;
        width: 100%;">
          <ion-row style="display: flex;
          align-items: center;
          padding-left: 5px; margin-top: 5%;"> 
            <ion-col size="2">
          <img src="../../assets/images/cameraindividual.svg">
            </ion-col>
            <ion-col size="10">
              <ion-text>Titel...</ion-text>
            </ion-col>
          </ion-row>
          <ion-row style="margin-top: 15px;display: flex;
          justify-content: center;">
            <img src="../../assets/images/specaunt.svg">
          </ion-row>
        </div>
      </ion-row>

      <ion-row style="background: #C5DCDD;height: 50px;display: flex;
      align-items: center;margin-top: 10%;width: 100%;"> 
        <ion-col size="2">
          <img src="../../assets/images/titleindividual.svg">
        </ion-col>
        <ion-col size="7">
          <ion-text>Titel...</ion-text>
        </ion-col>
        <ion-col size="3">
          <img src="../../assets/images/videoplay.svg"><br>
          <ion-text style="font-size: 7px;">2:12</ion-text>
        </ion-col>
      </ion-row>

      <ion-row style="background: #C5DCDD;height: 50px;display: flex;
      align-items: center;margin-top: 10%;width: 100%;"> 
        <ion-col size="2">
          <img src="../../assets/images/titleindividual.svg">
        </ion-col>
        <ion-col size="7">
          <ion-text>Titel...</ion-text>
        </ion-col>
        <ion-col size="3">
          <img src="../../assets/images/videoplay.svg"><br>
          <ion-text style="font-size: 7px;">2:12</ion-text>
        </ion-col>
      </ion-row>

      <ion-row>
        <div style="background: #C5DCDD;
        height: 140px;
        margin-top: 10%;
        width: 100%;">
          <ion-row style="display: flex;
          align-items: center;
          padding-left: 5px; margin-top: 5%;"> 
            <ion-col size="2">
          <img src="../../assets/images/cameraindividual.svg">
            </ion-col>
            <ion-col size="10">
              <ion-text>Titel...</ion-text>
            </ion-col>
          </ion-row>
          <ion-row style="margin-top: 15px;display: flex;
          justify-content: center;">
            <img src="../../assets/images/specaunt.svg">
          </ion-row>
        </div>
      </ion-row>

      <div style="background: #C5DCDD;height: 18%;margin-top: 10%;width: 100%;">
        <ion-row>
          <ion-col size="2">
        <img src="../../assets/images/editindividual.svg">
          </ion-col>
          <ion-col size="10">
            <ion-text>Titel...</ion-text>
          </ion-col>
        </ion-row>
        <ion-row style="   background: white;
        margin-top: 15px;
        width: 90%;
        margin-left: 5%;">
         
            <ion-text style="font-size: 10px;color: #444D4D;">
              Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore 
              magna aliquyam.
            </ion-text>
         
          
        </ion-row>
      </div>

      
      
    </ion-col>
  </ion-row>


  <ion-row style="padding: 15px;margin-bottom: 65px;" *ngIf="isNotizen">
    <ion-col style="background: #C5DCDD;
    height: 140px;">
  <ion-row>
    <ion-col size="2">
  <img src="../../assets/images/editindividual.svg">
    </ion-col>
    <ion-col size="10">
      <ion-text>Titel...</ion-text>
    </ion-col>
  </ion-row>
  <ion-row style="background: white;
  margin-top: 15px;
  width: 90%;
  margin-left: 5%;">
    <ion-text style="font-size: 10px;color: #444D4D;">
      Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore 
      magna aliquyam.
    </ion-text>
  </ion-row>
  
  <ion-row>
    <div style="background: #C5DCDD;
    height: 140px;
    margin-top: 25px;
    width: 163px;">
      <ion-row style="display: flex;
      align-items: center;
      padding-left: 5px; margin-top: 5%;"> 
        <ion-col size="2">
      <img src="../../assets/images/cameraindividual.svg">
        </ion-col>
        <ion-col size="10">
          <ion-text>Titel...</ion-text>
        </ion-col>
      </ion-row>
      <ion-row style="margin-top: 15px;display: flex;
      justify-content: center;">
        <img src="../../assets/images/specaunt.svg">
      </ion-row>
    </div>
  </ion-row>


  
 

 


  

 
  
  
    </ion-col>
    <ion-col style="padding-top: 0px;">
      <ion-row style="background: #C5DCDD;height: 50px;display: flex;
      align-items: center;"> 
        <ion-col size="2">
          <img src="../../assets/images/titleindividual.svg">
        </ion-col>
        <ion-col size="7">
          <ion-text>Titel...</ion-text>
        </ion-col>
        <ion-col size="3">
          <img src="../../assets/images/videoplay.svg"><br>
          <ion-text style="font-size: 7px;">2:12</ion-text>
        </ion-col>
      </ion-row>
  
      <div style="background: #C5DCDD;height: 70%;margin-top: 20px;">
        <ion-row>
          <ion-col size="2">
        <img src="../../assets/images/editindividual.svg">
          </ion-col>
          <ion-col size="10">
            <ion-text>Titel...</ion-text>
          </ion-col>
        </ion-row>
        <ion-row style="   background: white;
        margin-top: 15px;
        width: 90%;
        margin-left: 5%;">
         
            <ion-text style="font-size: 10px;color: #444D4D;">
              Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore 
              magna aliquyam.
            </ion-text>
         
          
        </ion-row>
      </div>

      
      
    </ion-col>
  </ion-row>

  <div *ngIf="isAudio">
    <ion-row>
      <ion-col size="6" > 
 <ion-row style="background: #C5DCDD;height: 50px;display: flex;
 align-items: center;">
  <ion-col size="2">
    <img src="../../assets/images/titleindividual.svg">
  </ion-col>
  <ion-col size="7">
    <ion-text>Titel...</ion-text>
  </ion-col>
  <ion-col size="3">
    <img src="../../assets/images/videoplay.svg"><br>
    <ion-text style="font-size: 7px;">2:12</ion-text>
  </ion-col>
</ion-row>
      </ion-col>
      <ion-col size="6" >
        <ion-row style="background: #C5DCDD;height: 50px;display: flex;
        align-items: center;">
          <ion-col size="2">
            <img src="../../assets/images/titleindividual.svg">
          </ion-col>
          <ion-col size="7">
            <ion-text>Titel...</ion-text>
          </ion-col>
          <ion-col size="3">
            <img src="../../assets/images/videoplay.svg"><br>
            <ion-text style="font-size: 7px;">2:12</ion-text>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  

    <ion-row>
      <ion-col size="6" > 
 <ion-row style="background: #C5DCDD;height: 50px;display: flex;
 align-items: center;">
  <ion-col size="2">
    <img src="../../assets/images/titleindividual.svg">
  </ion-col>
  <ion-col size="7">
    <ion-text>Titel...</ion-text>
  </ion-col>
  <ion-col size="3">
    <img src="../../assets/images/videoplay.svg"><br>
    <ion-text style="font-size: 7px;">2:12</ion-text>
  </ion-col>
</ion-row>
      </ion-col>
      <ion-col size="6" >
        <ion-row style="background: #C5DCDD;height: 50px;display: flex;
        align-items: center;">
          <ion-col size="2">
            <img src="../../assets/images/titleindividual.svg">
          </ion-col>
          <ion-col size="7">
            <ion-text>Titel...</ion-text>
          </ion-col>
          <ion-col size="3">
            <img src="../../assets/images/videoplay.svg"><br>
            <ion-text style="font-size: 7px;">2:12</ion-text>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
   
  </div>



  <!-- <div *ngIf="isArticle">
    <ion-row>
      <ion-col size="6" > 
        <ion-row style="background: #C5DCDD;height: 50px;display: flex;
        align-items: center;">
         <ion-col size="2">
          <img src="../../assets/images/editindividual.svg">
            </ion-col>
            <ion-col size="10">
              <ion-text>Titel...</ion-text>
            </ion-col>
        </ion-row>
        <ion-row style="background: #C5DCDD;height: 50px;display: flex;
        align-items: center;">
         <ion-text style="font-size: 10px;color: #444D4D;">
          Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore 
          magna aliquyam.
        </ion-text>
        </ion-row>
      </ion-col>
      <ion-col size="6" >
        <ion-row style="background: #C5DCDD;height: 50px;display: flex;
        align-items: center;">
         <ion-col size="2">
          <img src="../../assets/images/editindividual.svg">
            </ion-col>
            <ion-col size="10">
              <ion-text>Titel...</ion-text>
            </ion-col>
        </ion-row>
        <ion-row style="background: #C5DCDD;height: 50px;display: flex;
        align-items: center;">
         <ion-text style="font-size: 10px;color: #444D4D;">
          Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore 
          magna aliquyam.
        </ion-text>
        </ion-row>
      </ion-col>
    </ion-row>
  </div> -->
  
    <ion-row *ngIf="isArticle">
      <ion-col style="padding-top: 0px;">
       
    
        <div style="background: #C5DCDD;height: 95%;margin-top: 20px;">
          <ion-row>
            <ion-col size="2">
          <img src="../../assets/images/editindividual.svg">
            </ion-col>
            <ion-col size="10">
              <ion-text>Titel...</ion-text>
            </ion-col>
          </ion-row>
          <ion-row style="background: white;
          margin-top: 15px;
          width: 90%;
          margin-left: 5%;">
           
              <ion-text style="font-size: 10px;color: #444D4D;">
                Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore 
                magna aliquyam.
              </ion-text>
           
            
          </ion-row>
        </div>
        
      </ion-col>
      <ion-col style="padding-top: 0px;">
      
    
        <div style="background: #C5DCDD;height: 95%;margin-top: 20px;">
          <ion-row>
            <ion-col size="2">
          <img src="../../assets/images/editindividual.svg">
            </ion-col>
            <ion-col size="10">
              <ion-text>Titel...</ion-text>
            </ion-col>
          </ion-row>
          <ion-row style="background: white;
          margin-top: 15px;
          width: 90%;
          margin-left: 5%;">
           
              <ion-text style="font-size: 10px;color: #444D4D;">
                Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore 
                magna aliquyam.
              </ion-text>
           
            
          </ion-row>
        </div>
        
      </ion-col>
    </ion-row>
    
  
 
</ion-content>
