.background{
  background-image: url(/../../assets/BG-Iconic_final/messeauswahl-top@1x.png);
 // height: 20%;
  width: 100%;
  font-family:"WorkSans-Medium";
  z-index: 10;
  position: absolute;
  height: 25%;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 5%;
}


ion-content {
    letter-spacing: 2px;
}

.textBox {
    font-size: 9px;
    background-color: white;
    margin: 5px auto;
}

.articleBox {
    background-color: #C5DCDD;
}
.articleBox img {
    width: 75%;
    height: auto; 
}

.plus{
    background-image: url(/../../assets/plusMark.svg);
}



#addButtonBorder{
    width: 90%;
    height: 229px;
    border: 2px solid #C5DCDD;
    margin-bottom: 70px;
    display: flex;
    justify-content: center;

}

.plus{
    display:inline-block;
  width:50px;
  height:50px;
}

.titleBox {
    width: 90%;
    height: 40px;
    background-color: #C5DCDD;
}

.listenansicht ion-button{
    color: #D1C5B0;
    --ion-color-primary: transparent;
}

.listenansicht p {
    font-size: 11px;
    color: #444D4D;
}

.notes {
    text-align: left;
    font-size: 23px;
    color: #112142;
}


