<ion-content>

  <ion-grid>
    <ion-row class="background">
      <ion-col style="text-align: right" size="2">
        <div class="headerSheet" style="margin-top: 6%;">
          <ion-button (click)="return()" class="return" fill="outline">
            <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
          </ion-button>
        </div>
      </ion-col> 
      <ion-col size="8">
        <div style="margin-top: 3%;">
          <a class="header">Produkt hinzufügen</a>
        </div>
      </ion-col>
    </ion-row> 
    <ion-row style="margin-top: 40%;">
      <ion-col>
        <div id="input">
          <ion-label stacked>NAME</ion-label>
          <ion-input placeholder="Produktname eingeben"></ion-input>
        </div>
      </ion-col>
    </ion-row>
    <ion-row style="margin-top: 10px;">
      <ion-col>
        <div id="input">
          <ion-label stacked>ARTIKEL NR.</ion-label>
          <ion-input placeholder="Artikel Nummer eingeben"></ion-input>
        </div>
      </ion-col>
    </ion-row>
    <ion-row style="text-align: center; margin-top: 15%;">
      <ion-col>
        <div id="button">
          <div id="object">
            <p>FOTOGRAFIEREN</p>
            <div id="image">
              <img src="/../../assets/Icon feather-camera.png">
            </div>
          </div>
        </div>
      </ion-col>
    </ion-row>
    <ion-row style="text-align: center; margin-top: 10%;">
      <ion-col>
        <div id="button">
          <div id="object">
            <p (click)="goTextnote()">TEXT<br>EINGEBEN</p>
            <div id="image">
              <img src="/../../assets/Icon feather-edit-3.png">
            </div>
          </div>
        </div>
      </ion-col>
    </ion-row>
    <ion-row style="text-align: center; margin-top: 10%;">
      <ion-col>
        <div id="button">
          <div id="object">
            <p (click)="goAudionote()">SPRACHNACHRICHT<br>AUFNEHMEN</p>
            <div id="image1">
              <img src="/../../assets/mic.png">
            </div>
          </div>
        </div>
      </ion-col>
    </ion-row>
    <ion-row  style="text-align: center; margin-top: 5%;">
      <ion-col>
        <ion-button routerLink="/katalog" routerDirection="root"  id="submit" style="width: 60%;" shape="round" fill="outline">SPEICHERN</ion-button>
      </ion-col>
      </ion-row>
    </ion-grid>
</ion-content>
